workflows/1WKb2gn1fRJAuphf.json
{
  "active": false,
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T22:08:09.876Z",
  "id": "1WKb2gn1fRJAuphf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Example AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your prompt?'] }}",
        "options": {
          "systemMessage": "You are a professional email sumarizer. You are provided with a tool to retreve \nseveral emails. Call the tool whenever oyu need email data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        192,
        0
      ],
      "id": "d2d9096c-16f4-4aba-afc1-f1279d1d676c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "n8n_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        224
      ],
      "id": "c6778193-a77c-41eb-a310-6ca0ddb39a8c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        224
      ],
      "id": "f9f59a19-b956-4197-8034-8175a3ea2c6a",
      "name": "Gmail",
      "webhookId": "06a7e770-d357-4998-89de-78d9ffb1e72d",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI email summary",
        "formDescription": "This form is used to collect the propmt to sumarize your emails.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your prompt?",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        0
      ],
      "id": "8bdd0d78-788e-44a8-9649-08a713978a21",
      "name": "On form submission",
      "webhookId": "e9ee68e5-fdaa-4216-9f86-45ee16948235"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "AI response",
        "completionMessage": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "490dd466-7d60-4bb4-828a-3be7cd8f9af2",
      "name": "Form",
      "webhookId": "d206752f-4948-4da5-b13c-b36c0cacb285"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        208
      ],
      "id": "1b813599-2d23-4d29-8571-8950a6d6066a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CjVxk6S1xu0mmUti",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T09:44:57.000Z",
  "versionId": "0ca87045-86da-4308-b121-2b3568bd18e5"
}