workflows/1WKb2gn1fRJAuphf.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T22:08:09.876Z",
  "id": "1WKb2gn1fRJAuphf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Example AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your prompt?'] }}",
        "options": {
          "systemMessage": "You are a professional email sumarizer. You are provided with a tool to retreve \nseveral emails. Call the tool whenever oyu need email data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        180,
        0
      ],
      "id": "d2d9096c-16f4-4aba-afc1-f1279d1d676c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "f642dea4-e7a0-4a0a-97d2-3be2d0cdd6b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBtkKEVmgRcWvWO5",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "n8n_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        220
      ],
      "id": "c6778193-a77c-41eb-a310-6ca0ddb39a8c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        380,
        220
      ],
      "id": "f9f59a19-b956-4197-8034-8175a3ea2c6a",
      "name": "Gmail",
      "webhookId": "06a7e770-d357-4998-89de-78d9ffb1e72d",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI email summary",
        "formDescription": "This form is used to collect the propmt to sumarize your emails.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your prompt?",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        0
      ],
      "id": "8bdd0d78-788e-44a8-9649-08a713978a21",
      "name": "On form submission",
      "webhookId": "e9ee68e5-fdaa-4216-9f86-45ee16948235"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "AI response",
        "completionMessage": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        540,
        0
      ],
      "id": "490dd466-7d60-4bb4-828a-3be7cd8f9af2",
      "name": "Form",
      "webhookId": "d206752f-4948-4da5-b13c-b36c0cacb285"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-13T23:06:01.000Z",
  "versionId": "18ac8129-0f1b-4a93-8004-24b855fe0a6f"
}