workflows/6MZMxJEmrYII9mL3.json
{
  "active": true,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T17:55:36.720Z",
  "id": "6MZMxJEmrYII9mL3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -80
      ],
      "id": "8e712887-8d11-4b6b-b3fb-13e42ca35d9f",
      "name": "WhatsApp Trigger",
      "webhookId": "ae87f3a3-49ce-45b5-ad97-f6eb138b017f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "FQ5Hmy55FsfP3Ofj",
          "name": "Whatsapp Davie"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "648289155032630",
        "recipientPhoneNumber": "+254799389806",
        "textBody": "=google",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        640,
        -32
      ],
      "id": "be8c15f2-f06a-4217-a65d-1ba075e91351",
      "name": "Send message",
      "webhookId": "675e0e2f-d049-4fda-8b6d-9176e6aee314",
      "credentials": {
        "whatsAppApi": {
          "id": "o3hgKGkcHV881SYr",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $json.contacts[0].profile.name }}\nText: {{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant on whatsapp business. The business name is Binary Craft Technologies. Answer all customer queries"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -80
      ],
      "id": "ef1728a5-c7b7-495d-a867-26e8b8969032",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        128
      ],
      "id": "781b4261-91da-4750-a976-64f5ffcab44a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBtkKEVmgRcWvWO5",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=    {{ $json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        128
      ],
      "id": "fd6510d9-f7ac-46d3-9db0-552d0325212b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "41720b8e-4641-4ca3-9314-032707cac762"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -416,
        -80
      ],
      "id": "390582be-e735-4d8b-867a-3ecbc885dc81",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/648289155032630/register",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "pin",
              "value": "000000"
            },
            {
              "name": "tier",
              "value": "prod"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        448
      ],
      "id": "09c0d866-ae11-4ef0-9ba0-d1984fc8d428",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "o3hgKGkcHV881SYr",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-15T17:55:36.728Z",
      "updatedAt": "2025-08-15T17:55:36.728Z",
      "role": "workflow:owner",
      "workflowId": "6MZMxJEmrYII9mL3",
      "projectId": "jpKau5BZEX0mhCP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-03T08:52:24.000Z",
  "versionId": "83e09da2-7c29-46c5-9e5f-68f9c4d26427"
}