workflows/AI Trading Data Sources.json
{"createdAt":"2025-03-20T16:26:59.235Z","updatedAt":"2025-03-23T12:57:43.400Z","id":"WpAjPbma35Xw0fPX","name":"AI Trading Data Sources","active":true,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"5b5a0cd7-cedf-448e-815b-d41c2b8385da","name":"When chat message received","webhookId":"c1dd3b04-4016-40d7-b834-8110eca3d1ef"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"1d2450f5-2f3a-42ad-bc13-53e7e23a0f2a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[260,220],"id":"d01a15f2-9cb3-4a56-8cec-43a4448320f5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[360,240],"id":"cacea7b7-a65e-4431-bfa4-6f02819bcb36","name":"Zep","credentials":{"zepApi":{"id":"WV13673CsoJZnDfC","name":"Zep Api n8n project"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[480,220],"id":"19b8deab-67bd-41dc-a591-868553c095e4","name":"Wikipedia"},{"parameters":{"workflowInputs":{"values":[{"name":"route"},{"name":"data","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,580],"id":"511a2665-0953-4f72-85c0-d1bc9527b2a3","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06593544-4be8-42c8-ae94-4dc645b6fbe4","leftValue":"={{ $json.route }}","rightValue":"ask_vector_store","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc65826-cff6-40d2-8353-d62375f00a52","leftValue":"={{ $json['PDF file'][0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8298030-1bdb-4c21-8fe0-cb24be308a36","leftValue":"={{ $json.route }}","rightValue":"rss_feed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,800],"id":"9dea9aa5-4d67-4fee-84fa-3b4f99e64bfc","name":"Switch"},{"parameters":{"formTitle":"Smart Trader PDF Training","formDescription":"Upload pdf to train The Smart trading AI","formFields":{"values":[{"fieldLabel":"The title of the pdf?","placeholder":"Trading fundamentals","requiredField":true},{"fieldLabel":"PDF file","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{"respondWithOptions":{"values":{"formSubmittedText":"The pdf was successfully uploaded"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,800],"id":"fed9e802-4ed7-4078-b704-187b1e5ed7d4","name":"On form submission","webhookId":"5e92a28a-d3af-4e81-8b37-3835b709086a"},{"parameters":{"mode":"insert","tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1540,1280],"id":"b19f473e-4315-4275-833b-c74917dbd559","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1400,1600],"id":"c4a57338-a707-449c-a86a-3b46878e37c8","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1620,1500],"id":"89c560f1-e903-44e9-abec-f56849f5af75","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1840,1680],"id":"bdb400a7-c8da-4710-8927-94375dbaee4c","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tblxNPDbuIFB3iBCZ","mode":"list","cachedResultName":"uploaded_pdf","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tblxNPDbuIFB3iBCZ"},"columns":{"mappingMode":"defineBelow","value":{"size":"={{ $json['PDF file'][0].size }}","file_name":"={{ $json['PDF file'][0].filename }}","Name":"={{ $json['The title of the pdf?'] }}"},"matchingColumns":["file_name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1320,1280],"id":"28e73d9c-17fe-4dd9-9a4e-f8ecfd93985f","name":"Airtable","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.4,"position":[1440,720],"id":"6ef57204-546b-43fc-89fa-7fc4331e0ac9","name":"Question and Answer Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1320,880],"id":"94c7ea92-174e-4c05-832f-522754df5117","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"topK":5},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1560,900],"id":"31ddf5df-b714-4dd7-890d-b90bffa512ba","name":"Vector Store Retriever"},{"parameters":{"tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1340,1040],"id":"e40e2c58-8d21-432a-bcdb-c106ce7058c5","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"name":"info_retrever","description":"Call this tool to retrieve data from the main vector store. This vector store has all trading tutorials and important news.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"ask_vector_store","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `Query to retrieve information`, 'string') }}"},"matchingColumns":["route"],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[620,220],"id":"64dc7439-b9b0-4fda-bacc-e0254f123bf7","name":"Call n8n Workflow Tool"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"feedUrl":"https://www.forexlive.com/feed"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-1020,1260],"id":"b117a4f4-e843-4aa6-8b1f-230021bd53c6","name":"RSS Feed Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"05c464dd-cf5e-4f7a-a749-d6f445f75160","name":"route","value":"rss_feed","type":"string"},{"id":"fa88a69d-a6cf-4460-b785-f9365bbbb607","name":"data","value":"={{ $('RSS Feed Trigger').all() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,1260],"id":"a6f92f18-6345-4f70-9a5f-f7918a57f4c1","name":"set route"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2000,1260],"id":"fcb7a123-6b6d-4ef4-b128-5617439ef69e","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tbl99PKQXtmgtbdkB","mode":"list","cachedResultName":"rss feeds","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tbl99PKQXtmgtbdkB"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1780,1260],"id":"23383686-14f3-43dd-8b81-16e8bff9bfe2","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}],[{"node":"Airtable","type":"main","index":0}],[]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Airtable":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"RSS Feed Trigger":{"main":[[{"node":"set route","type":"main","index":0}]]},"set route":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:RSS Feed Trigger":{"lastItemDate":"2025-03-23T08:35:14.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f106d5c7-4405-45e1-9331-670d6a442303","triggerCount":6,"tags":[{"createdAt":"2025-03-20T16:27:05.269Z","updatedAt":"2025-03-20T16:27:05.269Z","id":"Qhmatn82ctA8khSg","name":"Trading"}]}