workflows/AI Trading Data Sources.json
{"createdAt":"2025-03-20T16:26:59.235Z","updatedAt":"2025-03-23T07:46:23.726Z","id":"WpAjPbma35Xw0fPX","name":"AI Trading Data Sources","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"5b5a0cd7-cedf-448e-815b-d41c2b8385da","name":"When chat message received","webhookId":"c1dd3b04-4016-40d7-b834-8110eca3d1ef"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"1d2450f5-2f3a-42ad-bc13-53e7e23a0f2a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[260,220],"id":"d01a15f2-9cb3-4a56-8cec-43a4448320f5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[360,240],"id":"cacea7b7-a65e-4431-bfa4-6f02819bcb36","name":"Zep","credentials":{"zepApi":{"id":"WV13673CsoJZnDfC","name":"Zep Api n8n project"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[480,220],"id":"19b8deab-67bd-41dc-a591-868553c095e4","name":"Wikipedia"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,680],"id":"511a2665-0953-4f72-85c0-d1bc9527b2a3","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['PDF file'][0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"32ce03e8-90d6-43f6-a249-29cff2117d4c"}],"combinator":"and"},"renameOutput":true,"outputKey":"file_upload"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06593544-4be8-42c8-ae94-4dc645b6fbe4","leftValue":"","rightValue":"read_from_vector_store","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,800],"id":"9dea9aa5-4d67-4fee-84fa-3b4f99e64bfc","name":"Switch"},{"parameters":{"formTitle":"Smart Trader PDF Training","formDescription":"Upload pdf to train The Smart trading AI","formFields":{"values":[{"fieldLabel":"The title of the pdf?","placeholder":"Trading fundamentals","requiredField":true},{"fieldLabel":"PDF file","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{"respondWithOptions":{"values":{"formSubmittedText":"The pdf was successfully uploaded"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,880],"id":"fed9e802-4ed7-4078-b704-187b1e5ed7d4","name":"On form submission","webhookId":"5e92a28a-d3af-4e81-8b37-3835b709086a"},{"parameters":{"mode":"insert","tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1600,800],"id":"b19f473e-4315-4275-833b-c74917dbd559","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1620,1160],"id":"c4a57338-a707-449c-a86a-3b46878e37c8","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1680,1020],"id":"89c560f1-e903-44e9-abec-f56849f5af75","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1780,1240],"id":"bdb400a7-c8da-4710-8927-94375dbaee4c","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tblxNPDbuIFB3iBCZ","mode":"list","cachedResultName":"uploaded_pdf","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tblxNPDbuIFB3iBCZ"},"columns":{"mappingMode":"defineBelow","value":{"size":"={{ $json['PDF file'][0].size }}","file_name":"={{ $json['PDF file'][0].filename }}","Name":"={{ $json['The title of the pdf?'] }}"},"matchingColumns":["file_name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1380,800],"id":"28e73d9c-17fe-4dd9-9a4e-f8ecfd93985f","name":"Airtable","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.4,"position":[1640,1420],"id":"6ef57204-546b-43fc-89fa-7fc4331e0ac9","name":"Question and Answer Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1520,1580],"id":"94c7ea92-174e-4c05-832f-522754df5117","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"topK":5},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1760,1600],"id":"31ddf5df-b714-4dd7-890d-b90bffa512ba","name":"Vector Store Retriever"},{"parameters":{"tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1540,1740],"id":"e40e2c58-8d21-432a-bcdb-c106ce7058c5","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1640,1960],"id":"4c2bef9e-c4af-4366-b761-fb3336c9fedf","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"info_retrever","description":"Call this tool to retrieve data from the main vector store. This vector store has all trading tutorials and important news.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[620,220],"id":"64dc7439-b9b0-4fda-bacc-e0254f123bf7","name":"Call n8n Workflow Tool"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Airtable":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"121e1f18-6d6b-446d-acae-c888b1788c16","triggerCount":0,"tags":[{"createdAt":"2025-03-20T16:27:05.269Z","updatedAt":"2025-03-20T16:27:05.269Z","id":"Qhmatn82ctA8khSg","name":"Trading"}]}