workflows/AI Trading Data Sources.json
{"createdAt":"2025-03-20T16:26:59.235Z","updatedAt":"2025-03-23T23:38:46.883Z","id":"WpAjPbma35Xw0fPX","name":"AI Trading Data Sources","active":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-5000,0],"id":"5b5a0cd7-cedf-448e-815b-d41c2b8385da","name":"When chat message received","webhookId":"c1dd3b04-4016-40d7-b834-8110eca3d1ef"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-4688,0],"id":"1d2450f5-2f3a-42ad-bc13-53e7e23a0f2a","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4780,220],"id":"d01a15f2-9cb3-4a56-8cec-43a4448320f5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryZep","typeVersion":1.3,"position":[-4660,220],"id":"cacea7b7-a65e-4431-bfa4-6f02819bcb36","name":"Zep","credentials":{"zepApi":{"id":"WV13673CsoJZnDfC","name":"Zep Api n8n project"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[-4540,220],"id":"19b8deab-67bd-41dc-a591-868553c095e4","name":"Wikipedia"},{"parameters":{"workflowInputs":{"values":[{"name":"route"},{"name":"data","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3680,1206.25],"id":"511a2665-0953-4f72-85c0-d1bc9527b2a3","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06593544-4be8-42c8-ae94-4dc645b6fbe4","leftValue":"={{ $json.route }}","rightValue":"ask_vector_store","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdc65826-cff6-40d2-8353-d62375f00a52","leftValue":"={{ $json['PDF file'][0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8298030-1bdb-4c21-8fe0-cb24be308a36","leftValue":"={{ $json.route }}","rightValue":"rss_feed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3240,1130],"id":"9dea9aa5-4d67-4fee-84fa-3b4f99e64bfc","name":"Switch"},{"parameters":{"formTitle":"Smart Trader PDF Training","formDescription":"Upload pdf to train The Smart trading AI","formFields":{"values":[{"fieldLabel":"The title of the pdf?","placeholder":"Trading fundamentals","requiredField":true},{"fieldLabel":"PDF file","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{"respondWithOptions":{"values":{"formSubmittedText":"The pdf was successfully uploaded"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-3680,1406.25],"id":"fed9e802-4ed7-4078-b704-187b1e5ed7d4","name":"On form submission","webhookId":"5e92a28a-d3af-4e81-8b37-3835b709086a"},{"parameters":{"mode":"insert","tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[-2524,957.5],"id":"b19f473e-4315-4275-833b-c74917dbd559","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-2812,975],"id":"c4a57338-a707-449c-a86a-3b46878e37c8","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-2524,1177.5],"id":"89c560f1-e903-44e9-abec-f56849f5af75","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-2436,1372.5],"id":"bdb400a7-c8da-4710-8927-94375dbaee4c","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tblxNPDbuIFB3iBCZ","mode":"list","cachedResultName":"uploaded_pdf","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tblxNPDbuIFB3iBCZ"},"columns":{"mappingMode":"defineBelow","value":{"size":"={{ $json['PDF file'][0].size }}","file_name":"={{ $json['PDF file'][0].filename }}","Name":"={{ $json['The title of the pdf?'] }}"},"matchingColumns":["file_name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2882,1155],"id":"28e73d9c-17fe-4dd9-9a4e-f8ecfd93985f","name":"Airtable","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.4,"position":[-3004,360],"id":"6ef57204-546b-43fc-89fa-7fc4331e0ac9","name":"Question and Answer Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3020,580],"id":"94c7ea92-174e-4c05-832f-522754df5117","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"topK":5},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[-2900,582.5],"id":"31ddf5df-b714-4dd7-890d-b90bffa512ba","name":"Vector Store Retriever"},{"parameters":{"tableName":"trading_resources","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[-2900,780],"id":"e40e2c58-8d21-432a-bcdb-c106ce7058c5","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"name":"info_retrever","description":"Call this tool to retrieve data from the main vector store. This vector store has all trading tutorials and important news.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"ask_vector_store","data":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data', `Query to retrieve information`, 'string') }}"},"matchingColumns":["route"],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-4420,220],"id":"64dc7439-b9b0-4fda-bacc-e0254f123bf7","name":"Call n8n Workflow Tool"},{"parameters":{"assignments":{"assignments":[{"id":"05c464dd-cf5e-4f7a-a749-d6f445f75160","name":"route","value":"rss_feed","type":"string"},{"id":"dada47cc-7bbe-4311-ab20-8ca517af05d8","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"8fa092b8-9b97-4bf7-9e5e-3c309455b7ca","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"cd52d6da-eedb-4f43-b582-864ec50a8d88","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"fd8e91e1-2ed6-414b-b7c4-32396dcf9ce9","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"f1cb352f-0963-4da4-882e-3b1b9d4536a1","name":"contentSnippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"ca2ea929-79c0-4c5f-8c0a-aede8f854be1","name":"categories[0]","value":"={{ $json.categories[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4440,1020],"id":"a6f92f18-6345-4f70-9a5f-f7918a57f4c1","name":"set route"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5320,1120],"id":"fcb7a123-6b6d-4ef4-b128-5617439ef69e","name":"Schedule Trigger"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4660,1120],"id":"d4f8d1d7-4e9c-414f-8190-1d5f1c188458","name":"Loop Over Items"},{"parameters":{"url":"={{ $json['Feed URL'] }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-4440,1220],"id":"e9a804f3-47e0-4cb1-931b-2f410026f3d8","name":"RSS Read"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tbl99PKQXtmgtbdkB","mode":"list","cachedResultName":"rss feeds","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tbl99PKQXtmgtbdkB"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5100,1120],"id":"23383686-14f3-43dd-8b81-16e8bff9bfe2","name":"Fetch rss links","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bff9156a-2516-4a85-a169-bf84c7c17c73","leftValue":"={{ $json.Active }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4880,1120],"id":"974f77a2-1fc5-4996-9e8f-d22e74d0cab1","name":"Filter active rss"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tbliNnfJJZq9qCUPE","mode":"list","cachedResultName":"articles, analysis and news","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tbliNnfJJZq9qCUPE"},"filterByFormula":"={URL} = \"{{ $json.link }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4220,1020],"id":"566526b8-636c-4d32-bedd-f03db7a7def6","name":"Fetch previous urls","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3980,1000],"id":"cbe689ea-1b0a-4196-bfe5-ea4d29b6c8b0","name":"Merge"},{"parameters":{"inputText":"=<content>\n{{ $json.data[0].json.content }}\n</content>\n<contentSnippet>\n{{ $json.data[0].json.contentSnippet }}\n</contentSnippet>","options":{"categories":"Bullish, Bearish, Volatile, Neutral","systemPromptTemplate":"<objective>\nAnalyze the given financial news and classify it into one of the following sentiment categories: \n- **Bullish:** Positive impact on the market, increasing investor confidence.\n- **Bearish:** Negative impact, likely leading to market downturns.\n- **Volatile:** Uncertainty or conflicting signals, indicating market fluctuations.\n- **Neutral:** No significant impact or mixed sentiment.\n</objective>\n\n<Considerations>\n- Consider the tone, language, and key indicators in the text.\n- Financial reports, institutional moves, and regulatory updates should be assessed based on historical impact.\n- Ignore generic news with no market relevance.\n</Considerations>"}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[-2960,1852.5],"id":"42f4350e-7dad-483a-be9c-e8eb3f6c1ba6","name":"Sentiment Analysis"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2872,2072.5],"id":"d8e0844f-924d-4331-8056-8f702952153e","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"210f5768-876d-41ac-9492-778c4320f739","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"edc5a2bc-30e4-47e8-859d-7e69660fb10f","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"af526583-a924-4fd7-a606-131520926097","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"ec097654-85b7-40c0-9f15-148e48509023","name":"contentSnippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"bb384718-c940-44e7-a14d-e0e357e99cca","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"735d4feb-4b00-4c9d-8857-e0a9beff6ccc","name":"sentiment","value":"={{ $json.sentimentAnalysis.category }}","type":"string"},{"id":"b9577b9f-a8dc-4fd9-ba80-f01a3b3b7fb3","name":"processedTimestamp","value":"={{ $now.toLocal() }}","type":"string"},{"id":"3dab94b1-9198-454d-ab5e-5cbc93412fa0","name":"source_category","value":"={{ $json.categories[0] }}","type":"string"},{"id":"bed052d5-ac99-4b18-bff4-d5bc77022928","name":"system_prompt","value":"Give a brief and objective summary without bias towards market direction.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2446,2152.5],"id":"3ef02f2c-52dc-41be-8656-052b0bc376d6","name":"Set for neutral"},{"parameters":{"assignments":{"assignments":[{"id":"210f5768-876d-41ac-9492-778c4320f739","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"edc5a2bc-30e4-47e8-859d-7e69660fb10f","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"af526583-a924-4fd7-a606-131520926097","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"ec097654-85b7-40c0-9f15-148e48509023","name":"contentSnippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"bb384718-c940-44e7-a14d-e0e357e99cca","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"735d4feb-4b00-4c9d-8857-e0a9beff6ccc","name":"sentiment","value":"={{ $json.sentimentAnalysis.category }}","type":"string"},{"id":"b9577b9f-a8dc-4fd9-ba80-f01a3b3b7fb3","name":"processedTimestamp","value":"={{ $now.toLocal() }}","type":"string"},{"id":"3dab94b1-9198-454d-ab5e-5cbc93412fa0","name":"source_category","value":"={{ $json.categories[0] }}","type":"string"},{"id":"bed052d5-ac99-4b18-bff4-d5bc77022928","name":"system_prompt","value":"Provide a summary that includes both risks and opportunities, focusing on market uncertainty.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2446,1952.5],"id":"0edb0829-c4a5-4ebe-83c5-8fb602c5ae2c","name":"Set for volatile"},{"parameters":{"jsonSchemaExample":"{\n  \"summary_text\": \"A concise summary tailored to sentiment\",\n  \"key_points\": \"Bullet points of major takeaways\",\n  \"impact_score\": \"Impact score based on provided criteria\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1840,2297.5],"id":"a6071704-3dc8-4edb-aef0-4ed680341907","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"210f5768-876d-41ac-9492-778c4320f739","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"edc5a2bc-30e4-47e8-859d-7e69660fb10f","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"af526583-a924-4fd7-a606-131520926097","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"ec097654-85b7-40c0-9f15-148e48509023","name":"contentSnippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"bb384718-c940-44e7-a14d-e0e357e99cca","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"735d4feb-4b00-4c9d-8857-e0a9beff6ccc","name":"sentiment","value":"={{ $json.sentimentAnalysis.category }}","type":"string"},{"id":"b9577b9f-a8dc-4fd9-ba80-f01a3b3b7fb3","name":"processedTimestamp","value":"={{ $now.toLocal() }}","type":"string"},{"id":"3dab94b1-9198-454d-ab5e-5cbc93412fa0","name":"source_category","value":"={{ $json.categories[0] }}","type":"string"},{"id":"bed052d5-ac99-4b18-bff4-d5bc77022928","name":"system_prompt","value":"Summarize this news, emphasizing risks, downturns, and potential concerns for investors.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2446,1752.5],"id":"3e120cfe-850f-4899-b326-7442e16d5cc9","name":"Set for bearish"},{"parameters":{"assignments":{"assignments":[{"id":"210f5768-876d-41ac-9492-778c4320f739","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"edc5a2bc-30e4-47e8-859d-7e69660fb10f","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"af526583-a924-4fd7-a606-131520926097","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"ec097654-85b7-40c0-9f15-148e48509023","name":"contentSnippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"bb384718-c940-44e7-a14d-e0e357e99cca","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"735d4feb-4b00-4c9d-8857-e0a9beff6ccc","name":"sentiment","value":"={{ $json.sentimentAnalysis.category }}","type":"string"},{"id":"b9577b9f-a8dc-4fd9-ba80-f01a3b3b7fb3","name":"processedTimestamp","value":"={{ $now.toLocal() }}","type":"string"},{"id":"3dab94b1-9198-454d-ab5e-5cbc93412fa0","name":"source_category","value":"={{ $json.categories[0] }}","type":"string"},{"id":"bed052d5-ac99-4b18-bff4-d5bc77022928","name":"system_prompt","value":"Summarize this financial news while highlighting positive market indicators. Include potential benefits for traders and investors","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2446,1552.5],"id":"4316c99a-7bda-4dbf-a59e-82fdf8bc182f","name":"Set for bullish"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2148,1906.5],"id":"8cf28bea-ad86-42fe-9962-cab177896223","name":"Append all data"},{"parameters":{"promptType":"define","text":"=<content>\n{{ $json.content }}\n</content>\n<content snippet>\n{{ $json.contentSnippet }}\n<content snippet>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=<objective>\n{{ $json.system_prompt }}\n</objective>\n\n<Impact score criteria>\n- **Low Impact (1-3):** Generic news, minor fluctuations, or reports with no immediate effect.\n- **Moderate Impact (4-6):** Industry-related news, economic indicators, or medium-level market shifts.\n- **High Impact (7-9):** Major financial events, geopolitical news, or government interventions.\n- **Critical Impact (10):** Black Swan events, recessions, major financial crises.\n</Impact score criteria>\n\n<output format>\n{\n  \"summary_text\": \"A concise summary tailored to sentiment\",\n  \"key_points\": \"Bullet points of major takeaways\",\n  \"impact_score\": \"Impact score based on provided criteria\"\n}\n</output format>"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1928,2077.5],"id":"26634f58-3b18-4ed3-8a1b-8e5d90341393","name":"Summarize rss content"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function stringToHash(string) {\n    return string.split('').reduce((hash, char) => {\n        return char.charCodeAt(0) + (hash << 6) + (hash << 16) - hash;\n    }, 0);\n}\n\nlet gfg = $json.link;\nreturn {\"news_id\": stringToHash(gfg)};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1850,1652.5],"id":"f6cc8288-08e2-43e9-9439-6646b0aa03a4","name":"Generate news id"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1552,1902.5],"id":"ab3f8b0b-e098-47da-9a24-fbadf3abd6f1","name":"Merge news id and summary"},{"parameters":{"assignments":{"assignments":[{"id":"5ae082a9-2a08-4b64-8e20-cedb11216583","name":"news_id","value":"={{ $json.news_id }}","type":"number"},{"id":"7791d203-dd5f-4948-8da2-0a118c445755","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"77836c81-d6c0-40d8-94e5-25e44622935b","name":"link","value":"={{ $json.link }}","type":"string"},{"id":"927f3f95-9e6d-4342-82df-6536b9ce5f26","name":"content_contentSnippet","value":"=<content>\n{{ $json.content }}\n</content>\n<content snippet>\n{{ $json.contentSnippet }}\n</content snippet>","type":"string"},{"id":"08c2c1ef-dfb9-4b42-b704-cf078d907969","name":"pubDate","value":"={{ $json.pubDate }}","type":"string"},{"id":"315cebad-9a91-4e04-8203-0a58509f0ce1","name":"sentiment","value":"={{ $json.sentiment }}","type":"string"},{"id":"4e9a267f-6ef1-47f1-ae07-3f42f34af6eb","name":"processedTimestamp","value":"={{ $json.processedTimestamp }}","type":"string"},{"id":"b73f6826-24a3-4d50-a7ae-6a0e01977918","name":"source_category","value":"={{ $json.source_category }}","type":"string"},{"id":"9cf109a6-6def-47b7-b9b7-21fe57a248eb","name":"system_prompt","value":"={{ $json.system_prompt }}","type":"string"},{"id":"54964793-cee0-453b-93ef-7184f0e40416","name":"summary_text","value":"={{ $json.output.summary_text }}","type":"string"},{"id":"492ef0be-9d10-4e0e-82bf-e0baffa1a60c","name":"key_points","value":"={{ $json.output.key_points }}","type":"string"},{"id":"c14cb137-baae-4d53-8668-3a8fe57b947d","name":"impact_score","value":"={{ $json.output.impact_score }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1332,1902.5],"id":"14a900c9-8ab9-44c0-abff-3ba66aafcb2f","name":"Storage data"},{"parameters":{"mode":"insert","tableName":"rss_news_store","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[-1112,1332.5],"id":"b8cbfc52-9a8b-45c2-ad8e-b57338169ba7","name":"News Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"AIVEN Postgres Database"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"=sentiment","value":"={{ $json.sentiment }}"},{"name":"impact_score","value":"={{ $json.impact_score }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1112,1552.5],"id":"21c2e730-f85e-41f3-9b61-f23d24845b46","name":"Default Data Loader1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-1024,1747.5],"id":"d2c6dee1-3da8-4399-a08e-5c846da75e3c","name":"Token Splitter"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tbliNnfJJZq9qCUPE","mode":"list","cachedResultName":"articles, analysis and news","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tbliNnfJJZq9qCUPE"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $json.title }}","URL":"={{ $json.link }}","rss_id":"={{ $json.news_id }}"},"matchingColumns":["rss_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"rss_id","displayName":"rss_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1034,1927.5],"id":"18c7d054-a287-482b-b2aa-e07288e7b96d","name":"Save content to airtable","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,1902.5],"id":"7b8cfbf3-9bdd-4aee-8f4d-85010de97073","name":"No Operation, do nothing"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Zep":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}],[{"node":"Airtable","type":"main","index":0}],[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0},{"node":"News Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Airtable":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"set route":{"main":[[{"node":"Fetch previous urls","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Fetch rss links","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"set route","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Fetch rss links":{"main":[[{"node":"Filter active rss","type":"main","index":0}]]},"Filter active rss":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Fetch previous urls":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0},{"node":"Summarize rss content","type":"ai_languageModel","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Set for bullish","type":"main","index":0}],[{"node":"Set for bearish","type":"main","index":0}],[{"node":"Set for volatile","type":"main","index":0}],[{"node":"Set for neutral","type":"main","index":0}]]},"Set for neutral":{"main":[[{"node":"Append all data","type":"main","index":3}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Summarize rss content","type":"ai_outputParser","index":0}]]},"Append all data":{"main":[[{"node":"Summarize rss content","type":"main","index":0},{"node":"Generate news id","type":"main","index":0},{"node":"Merge news id and summary","type":"main","index":1}]]},"Set for volatile":{"main":[[{"node":"Append all data","type":"main","index":2}]]},"Set for bearish":{"main":[[{"node":"Append all data","type":"main","index":1}]]},"Set for bullish":{"main":[[{"node":"Append all data","type":"main","index":0}]]},"Summarize rss content":{"main":[[{"node":"Merge news id and summary","type":"main","index":2}]]},"Generate news id":{"main":[[{"node":"Merge news id and summary","type":"main","index":0}]]},"Merge news id and summary":{"main":[[{"node":"Storage data","type":"main","index":0}]]},"Storage data":{"main":[[{"node":"News Store","type":"main","index":0},{"node":"Save content to airtable","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"News Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Save content to airtable":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"News Store":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:RSS Feed Trigger":{"lastItemDate":"2025-03-23T08:35:14.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aca606f5-70f3-4837-87f3-4765ae9e784c","triggerCount":6,"tags":[{"createdAt":"2025-03-20T16:27:05.269Z","updatedAt":"2025-03-20T16:27:05.269Z","id":"Qhmatn82ctA8khSg","name":"Trading"}]}