workflows/JLvhScvQyLoa7ul9.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch required details from webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Find out if it a transaction and it's direction",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply for not transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch required details from webhook": {
      "main": [
        [
          {
            "node": "Find out if it a transaction and it's direction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Raw SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find out if it a transaction and it's direction": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the final data": {
      "main": [
        [
          {
            "node": "Processed SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract transaction details": {
      "main": [
        [
          {
            "node": "Format the final data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract transaction details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract transaction details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the final data1": {
      "main": [
        [
          {
            "node": "Processed SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract transaction details1": {
      "main": [
        [
          {
            "node": "Format the final data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find out if it a transaction and it's direction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract transaction details",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract transaction details1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-20T19:22:00.998Z",
  "id": "JLvhScvQyLoa7ul9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "transaction parsing davie",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms/finance",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1296,
        496
      ],
      "id": "c04280ab-3720-4b7c-8814-e28b84623885",
      "name": "Webhook",
      "webhookId": "abd8a4f8-1a98-4fec-ac19-07390739ce36"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"istransaction\": \"True\",\n  \"direction\": \"sent\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -712,
        468
      ],
      "id": "0efdc03e-6543-4b38-850c-367d7a51d99a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ed39814-b7f1-4cae-81db-85f8e756537c",
              "leftValue": "={{ $json.output.istransaction }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        348
      ],
      "id": "9baa3874-4f77-47c3-af7c-742da677dc2a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51b15928-8e0e-49cd-b05a-3a72d64230b4",
              "name": "body.user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "number"
            },
            {
              "id": "9331481b-b073-4081-b506-fe1611d6f841",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "53b9b00a-472f-41f6-b5b1-d1c194a1d28b",
              "name": "body.from",
              "value": "={{ $json.body.from }}",
              "type": "string"
            },
            {
              "id": "033f51ec-4790-46ff-b722-e35093c49202",
              "name": "body.time",
              "value": "={{ $json.body.time }}",
              "type": "string"
            },
            {
              "id": "851df70c-21ed-4df7-b4c0-a1fb6706db45",
              "name": "body.formatted_message",
              "value": "={{ $json.body.formatted_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        496
      ],
      "id": "819567de-c8a4-465d-b9f8-ed3dca9bd82d",
      "name": "Fetch required details from webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a Decision making assistant. You are provided with an sms content and your task is to decide whether the sms is a money transaction or not. If it's a transation you find out if the money was sent or recieved.\n\nHere is an example of the output required.\nExample 1:\n{\n  \"istransaction\": \"True\",\n  \"direction\": \"money in\"\n}\nExample 2:\n{\n  \"istransaction\": \"True\",\n  \"direction\": \"money out\"\n}\nExample 3:\n{\n  \"istransaction\": \"False\",\n  \"direction\": \"\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -848,
        244
      ],
      "id": "d8f6315f-920b-4b12-9b62-9788c78bb8a4",
      "name": "Find out if it a transaction and it's direction"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3603e184-1781-42f3-9bc7-c9b42ef9b11e",
              "name": "user_id",
              "value": "={{ $('Fetch required details from webhook').item.json.body.user_id }}",
              "type": "number"
            },
            {
              "id": "938b2618-c1dd-4946-a9da-0aacd9bae156",
              "name": "from",
              "value": "={{ $('Fetch required details from webhook').item.json.body.from }}",
              "type": "string"
            },
            {
              "id": "e3a57638-8e9e-40b5-83c5-5adb2dbad32d",
              "name": "time",
              "value": "={{ $('Fetch required details from webhook').item.json.body.time }}",
              "type": "string"
            },
            {
              "id": "62d7306f-c903-4032-8c0a-e4da650e7a2c",
              "name": "direction",
              "value": "={{ $('Find out if it a transaction and it\\'s direction').item.json.output.direction }}",
              "type": "string"
            },
            {
              "id": "06a963a7-a49a-4a72-88fe-fc3eead12ede",
              "name": "amount",
              "value": "={{ $json.output.amount }}",
              "type": "number"
            },
            {
              "id": "bc36ab40-2b89-4c26-a7d9-3e933795dd3c",
              "name": "balance",
              "value": "={{ $json.output.balance }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        104
      ],
      "id": "607d7782-1b23-40bc-a7b5-09ad75355f42",
      "name": "Format the final data"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Not a Transaction",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -272,
        444
      ],
      "id": "5d7c8e01-9a5b-46eb-ad83-af1716847275",
      "name": "Reply for not transactions"
    },
    {
      "parameters": {
        "text": "={{ $('Fetch required details from webhook').item.json.body.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "amount",
              "type": "number",
              "description": "The amount sent or spent.",
              "required": true
            },
            {
              "name": "balance",
              "type": "number",
              "description": "The new balance is indicated, if not default to -1",
              "required": true
            },
            {
              "name": "description",
              "description": "Describe the cash out from the account",
              "required": true
            },
            {
              "name": "fee",
              "description": "Transaction cost or transaction fee",
              "required": true
            },
            {
              "name": "account",
              "description": "The account used. If not provided use `Not provided` as default",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "id": "10d294d9-2f04-4d0e-833e-5620c227a494",
      "name": "Extract transaction details"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.direction }}",
                    "rightValue": "money out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0bd74ddd-cc6c-42d6-b217-00fb1ed10dd4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "money out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6fa3d122-2717-411f-8623-1de274c970a2",
                    "leftValue": "={{ $json.output.direction }}",
                    "rightValue": "money in",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "money in"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -272,
        252
      ],
      "id": "7238c1d8-5ab7-4453-97a2-b970ca086c41",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3603e184-1781-42f3-9bc7-c9b42ef9b11e",
              "name": "user_id",
              "value": "={{ $('Fetch required details from webhook').item.json.body.user_id }}",
              "type": "number"
            },
            {
              "id": "938b2618-c1dd-4946-a9da-0aacd9bae156",
              "name": "from",
              "value": "={{ $('Fetch required details from webhook').item.json.body.from }}",
              "type": "string"
            },
            {
              "id": "e3a57638-8e9e-40b5-83c5-5adb2dbad32d",
              "name": "time",
              "value": "={{ $('Fetch required details from webhook').item.json.body.time }}",
              "type": "string"
            },
            {
              "id": "62d7306f-c903-4032-8c0a-e4da650e7a2c",
              "name": "direction",
              "value": "={{ $('Find out if it a transaction and it\\'s direction').item.json.output.direction }}",
              "type": "string"
            },
            {
              "id": "06a963a7-a49a-4a72-88fe-fc3eead12ede",
              "name": "amount",
              "value": "={{ $json.output.amount }}",
              "type": "number"
            },
            {
              "id": "bc36ab40-2b89-4c26-a7d9-3e933795dd3c",
              "name": "balance",
              "value": "={{ $json.output.balance }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        400
      ],
      "id": "f25e0fae-0fc8-4443-a798-b53d5086fcbb",
      "name": "Format the final data1"
    },
    {
      "parameters": {
        "text": "={{ $('Fetch required details from webhook').item.json.body.message }}",
        "attributes": {
          "attributes": [
            {
              "name": "amount",
              "type": "number",
              "description": "The amount recieved.",
              "required": true
            },
            {
              "name": "balance",
              "type": "number",
              "description": "The new balance is indicated, if not default to -1",
              "required": true
            },
            {
              "name": "description",
              "description": "Describe the cash in to the account",
              "required": true
            },
            {
              "name": "account",
              "description": "The account used. If not provided use `Not provided` as default",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -48,
        400
      ],
      "id": "305111b6-b95a-428b-a4ee-ad3cd37992e9",
      "name": "Extract transaction details1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywkwtwffsnqlrhmshbxe.supabase.co/functions/v1/receive-processed-transaction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id"
            },
            {
              "name": "from"
            },
            {
              "name": "time"
            },
            {
              "name": "direction"
            },
            {
              "name": "amount"
            },
            {
              "name": "balance"
            },
            {
              "name": "desciptioon"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        252
      ],
      "id": "cfd57668-b5dd-448c-9ac1-6c3722f88717",
      "name": "Processed SMS Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ywkwtwffsnqlrhmshbxe.supabase.co/functions/v1/receive-raw-sms",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id"
            },
            {
              "name": "message"
            },
            {
              "name": "from"
            },
            {
              "name": "time"
            },
            {
              "name": "formatted_message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        644
      ],
      "id": "c147f61c-2c03-4dc5-83e8-e41f9fabe017",
      "name": "Raw SMS Data"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -840,
        468
      ],
      "id": "a8ae2be3-3fbf-435e-ba04-2f82db0c3ef6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y8dnvHhwRpo38rop",
          "name": "Finance Quest"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        24,
        224
      ],
      "id": "e1b720e2-f585-42d6-8a6f-c73883599e79",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Y8dnvHhwRpo38rop",
          "name": "Finance Quest"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bigaddict.shop",
            "x-real-ip": "162.158.40.143",
            "x-forwarded-for": "102.215.77.62, 162.158.40.143",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "221",
            "content-type": "application/json; charset=utf-8",
            "user-agent": "okhttp/4.12.0",
            "accept-encoding": "gzip, br",
            "cf-ray": "97e5f73108f1feef-MBA",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "102.215.77.62",
            "cf-ipcountry": "KE",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "text": "From: MPESA \nTIA889E7LE confirmed. Ksh15.00 sent to AIRTEL MONEY  for account 254750602445 on 10/9/25 at 9:06 AM New M-PESA balance is Ksh4.76. Transaction cost, Ksh0.00. \nReceived At: 09/13/2025, 7:35 AM "
          },
          "webhookUrl": "https://n8n.bigaddict.shop/webhook-test/sms/finance",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-20T19:22:01.008Z",
      "updatedAt": "2025-07-20T19:22:01.008Z",
      "role": "workflow:owner",
      "workflowId": "JLvhScvQyLoa7ul9",
      "projectId": "F7w5vVZmf5NTjEXh"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-13T07:43:24.000Z",
  "versionId": "3171e63d-dce0-482b-9f8e-ae408f2f18dd"
}