workflows/JUX2YJVqNmwluiC4.json
{
  "active": false,
  "connections": {
    "Get variables": {
      "main": [
        [
          {
            "node": "Create a Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Message": {
      "main": [
        [
          {
            "node": "Connect to Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract message": {
      "main": [
        [
          {
            "node": "Split Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get interest name": {
      "main": [
        [
          {
            "node": "Check message contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Graph API": {
      "main": [
        [
          {
            "node": "Split Interests into a Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Spreadsheet": {
      "main": [
        [
          {
            "node": "Send the Spreadsheet file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check message contents": {
      "main": [
        [
          {
            "node": "Extract message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Interests into a Table": {
      "main": [
        [
          {
            "node": "Get variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-11T08:52:38.788Z",
  "id": "JUX2YJVqNmwluiC4",
  "meta": {
    "templateId": "2058"
  },
  "name": "Find Facebook Hidden Interests via Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "9cfeb58b-140f-4941-8442-4e33c671e325",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        720,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c4e7c596-4f2a-48e0-a932-ad40157c6282",
      "name": "Get interest name",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "3c85f114-6321-4e6d-9b5e-726e1493ee4e",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "biiKIRaTqa5OFZpd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.message.chat.id }}",
              "operation": "equal",
              "value2": 5090878071
            }
          ],
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "startsWith",
              "value2": "#intrest"
            }
          ]
        }
      },
      "id": "69d432d1-4ab1-4059-af5c-ba589dfe16bc",
      "name": "Check message contents",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "let inputData = items[0].json; // get the input data\nlet message = inputData.message; // replace 'message' with the correct field name\n\nlet messageContent = '';\n\nif (message && message.text) {\n  messageContent = message.text;\n}\n\nreturn [\n  {\n    json: {\n      messageContent: messageContent\n    }\n  }\n];\n"
      },
      "id": "345274b6-2d56-4d54-937a-dd9153fd1fdc",
      "name": "Extract message",
      "type": "n8n-nodes-base.code",
      "position": [
        740,
        40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "let inputData = items[0].json; // get the input data\nlet variableContent = String(inputData.messageContent || ''); // replace 'variable' with the correct field name, convert to string and assign empty string if undefined\n\nlet regex = /#(\\w+)\\b(.*)/; // regex to match hashtag word and rest of the content\nlet matches = regex.exec(variableContent);\n\nlet extractedContent = '';\nlet remainingContent = '';\n\nif (matches !== null) {\n  extractedContent = matches[1];\n  remainingContent = matches[2].trim();\n} else {\n  remainingContent = variableContent.trim();\n}\n\nreturn [\n  {\n    json: {\n      extractedContent: extractedContent,\n      remainingContent: remainingContent    }\n  }\n];\n"
      },
      "id": "cd808029-1a46-4fad-9065-c726960fb427",
      "name": "Split Message",
      "type": "n8n-nodes-base.code",
      "position": [
        940,
        40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "graphApiVersion": "v17.0",
        "node": "=search?type=adinterest&q={{ $json.remainingContent }}\n&limit=1000000&locale=en_US ",
        "edge": "=",
        "options": {}
      },
      "id": "6f541faf-7756-415e-8391-5470166b8a01",
      "name": "Connect to Graph API",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1120,
        40
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "PIsj3o2hTJEDuicP",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let inputData = $input.all(); // get the input data\nlet outputData = [];\n\nfor(let key in inputData) {\n    if(inputData.hasOwnProperty(key)) {\n        let itemKey = key;\n        let itemValue = inputData[key];\n        \n        for(let subKey in itemValue) {\n            if(itemValue.hasOwnProperty(subKey)) {\n                let formattedItem = {\n                    'Item': itemKey,\n                    'SubItem': subKey,\n                    'Value': itemValue[subKey]\n                };\n                \n                outputData.push({json: formattedItem});\n            }\n        }\n    }\n}\n\nreturn outputData;"
      },
      "id": "394a34ce-f56d-4a79-8fbb-f37681cbee76",
      "name": "Split Interests into a Table",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Ensure the input is accessed correctly\nlet inputData = items[0].json.Value.data;\nconsole.log(inputData)\n\n// Map over the data array to transform it\nlet outputData = inputData.map(item => {\n    return {\n        json: {\n            'name': item.name,\n            'audience_size_lower_bound': item.audience_size_lower_bound,\n            'audience_size_upper_bound': item.audience_size_upper_bound,\n            'path': item.path,\n            'description': item.description,\n            'topic': item.topic\n        }\n    };\n});\n\nreturn outputData;"
      },
      "id": "1d3f66a4-322f-4398-b887-52ccd2f2f5fe",
      "name": "Get variables",
      "type": "n8n-nodes-base.code",
      "position": [
        1480,
        40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {}
      },
      "id": "082ddf0f-29ef-424a-a2a2-4bf9e260657f",
      "name": "Create a Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1660,
        40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "5090878071",
        "binaryData": true,
        "additionalFields": {
          "fileName": "report.csv"
        }
      },
      "id": "44e4f97a-cd86-4b60-b761-49dc46f7e36b",
      "name": "Send the Spreadsheet file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1840,
        40
      ],
      "typeVersion": 1,
      "webhookId": "76f0cfb0-7faa-4d38-b604-a33963612154",
      "credentials": {
        "telegramApi": {
          "id": "biiKIRaTqa5OFZpd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Facebook API\n\nTo get the API Key you need to follow these steps:\nhttps://developers.facebook.com/docs/commerce-platform/setup/api-setup/",
        "height": 296.5325040542755,
        "width": 948.6687115198118
      },
      "id": "22bc6129-7d10-46fd-98e2-0f3fc7a93344",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        -80
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-11T11:18:08.659Z",
  "versionId": "15a38204-cdee-4b2a-8634-7743eb206f7c"
}