workflows/kkyjZfYq5mOeXnib.json
{
  "active": false,
  "connections": {
    "JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Assign labels for message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gmail trigger": {
      "main": [
        [
          {
            "node": "Get message content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all labels": {
      "main": [
        [
          {
            "node": "Merge corresponding labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set label values": {
      "main": [
        [
          {
            "node": "Get all labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split out assigned labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate label IDs": {
      "main": [
        [
          {
            "node": "Add labels to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message content": {
      "main": [
        [
          {
            "node": "Assign labels for message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign labels for message": {
      "main": [
        [
          {
            "node": "Set label values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out assigned labels": {
      "main": [
        [
          {
            "node": "Merge corresponding labels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge corresponding labels": {
      "main": [
        [
          {
            "node": "Aggregate label IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assign labels for message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-06T20:01:06.416Z",
  "id": "kkyjZfYq5mOeXnib",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email labeler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "fb36352d-f18a-441f-a923-408913a4d9ad",
      "name": "Gmail trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1340,
        20
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "eb567fc7-8210-4ba1-ae14-3ea766113489",
      "name": "Get message content",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1560,
        20
      ],
      "typeVersion": 2.1,
      "webhookId": "6ee349b5-7f44-4b89-b850-1a8bdfd7e15c",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "labels",
              "type": "arrayValue",
              "arrayValue": "={{ $json.labels }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95d68e65-3b35-4f4a-9510-d6d1651a0dc9",
      "name": "Set label values",
      "type": "n8n-nodes-base.set",
      "position": [
        2156,
        20
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "b35ca4a9-fea2-4522-8d29-d55d7e1bc9fb",
      "name": "Get all labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2376,
        -80
      ],
      "typeVersion": 2.1,
      "webhookId": "28718e53-8d61-4e00-b158-f51b7c5825f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "labels",
        "options": {}
      },
      "id": "abd62d21-6f94-44e2-8c95-672507a32bd6",
      "name": "Split out assigned labels",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2376,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "labels"
            }
          ]
        },
        "options": {}
      },
      "id": "33f5ea47-88fc-4e50-bafb-45cf9b73170e",
      "name": "Merge corresponding labels",
      "type": "n8n-nodes-base.merge",
      "position": [
        2596,
        20
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id",
              "renameField": true,
              "outputFieldName": "label_ids"
            }
          ]
        },
        "options": {}
      },
      "id": "edc241c9-9747-43e9-9561-fd743e1b085f",
      "name": "Aggregate label IDs",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2816,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail trigger').item.json[\"id\"] }}",
        "labelIds": "={{ $json.label_ids }}"
      },
      "id": "4301c97b-0b83-4df1-b088-5635c82d44f4",
      "name": "Add labels to message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3036,
        20
      ],
      "typeVersion": 2.1,
      "webhookId": "8ef2dc0c-2169-424f-8851-f58a0488b779",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Your task is to categorize the message according to the following labels.\n\nNewsletters - email about sponsored content, cooperation etc.\nSpam - Unsolicited emails that may contain suspicious links or attachments.\nNotification - Password reset emails, verification requests, email that doesn't require response.\nRequires Reply - These are emails from individuals or corporations that need to be replied to.\n\nOne email can have more than one label. Return only label names in JSON format, nothing else. Do not make things up. "
            }
          ]
        }
      },
      "id": "faac7895-bd37-4d27-b712-389d01464120",
      "name": "Assign labels for message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1780,
        20
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"labels\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\"Inquiry\", \"Partnership\", \"Notification\"]\n      }\n    }\n  },\n  \"required\": [\"labels\"]\n}\n"
      },
      "id": "3a2e5981-9ebf-4006-8ccb-d46481a109b6",
      "name": "JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1928,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1808,
        240
      ],
      "id": "7135f78f-efa4-4e9f-97a4-9f04c0b1e2b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kSDjT64QAeHAQtTi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-06T20:45:47.000Z",
  "versionId": "96267435-0128-47b3-b55f-f257d4700c5b"
}