workflows/kkyjZfYq5mOeXnib.json
{
  "active": true,
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Decide the email category",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Read the gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read the gmail": {
      "main": [
        [
          {
            "node": "Decide the email category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide the email category": {
      "main": [
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split out the email's category",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split out the email's category": {
      "main": [
        [
          {
            "node": "Merge category with lables",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get all labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all labels": {
      "main": [
        [
          {
            "node": "Merge category with lables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge category with lables": {
      "main": [
        [
          {
            "node": "Aggregate label IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate label IDs": {
      "main": [
        [
          {
            "node": "Add labels to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-06T20:01:06.416Z",
  "id": "kkyjZfYq5mOeXnib",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email labeler",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        660
      ],
      "id": "d7465c9d-f4d5-414f-977b-e2773fc8c316",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "kSDjT64QAeHAQtTi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        240
      ],
      "id": "c34fda2d-0d02-42d8-b616-abd630e1711d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Decide the email category').item.json.id }}",
        "labelIds": "={{ $json.label_ids }}"
      },
      "id": "4301c97b-0b83-4df1-b088-5635c82d44f4",
      "name": "Add labels to message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1696,
        355
      ],
      "typeVersion": 2.1,
      "webhookId": "8ef2dc0c-2169-424f-8851-f58a0488b779",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -60,
        240
      ],
      "id": "ada404c9-91d2-4b2a-a23c-c3cf8c61a054",
      "name": "Read the gmail",
      "webhookId": "7aa95a16-65ad-478d-8bbf-0b59b31d5ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=<EmailSubject>\n{{ $json.Subject }}\n</EmailSubject>\n<TextFormat>\n{{ $json.text }}\n</TextFormat>\n<HTMLFormat>\n{{ $json.html }}\n</HTMLFormat>",
        "options": {
          "categories": "Job Alert, Newsletters, Advertisement, OTP Code, Social media, Sent from Individual, Alerts & Reminders",
          "systemPromptTemplate": "You are highly intelligent and accurate email category analyzer. Analyze the category of the provided email which is in text format and HTML format. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "1b226f3f-a1fa-4b61-ae88-68d01dd9207f",
      "name": "Decide the email category"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sentimentAnalysis.category",
        "options": {}
      },
      "id": "d7ca70c5-ff9f-49c6-a91c-2816a8d10ad5",
      "name": "Split out the email's category",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        816,
        355
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "7d1927d1-ca64-4ab8-a5bd-6f7ae88997e9",
      "name": "Get all labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1036,
        280
      ],
      "typeVersion": 2.1,
      "webhookId": "28718e53-8d61-4e00-b158-f51b7c5825f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "sentimentAnalysis.category"
            }
          ]
        },
        "options": {}
      },
      "id": "87e7c3ef-2f6b-446b-8eda-198eedfe14f6",
      "name": "Merge category with lables",
      "type": "n8n-nodes-base.merge",
      "position": [
        1256,
        355
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id",
              "renameField": true,
              "outputFieldName": "label_ids"
            }
          ]
        },
        "options": {}
      },
      "id": "768c9a71-0ff3-4958-8929-4aa3786fdbf4",
      "name": "Aggregate label IDs",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1476,
        355
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "vZZWpIysmyLOCCOh"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1754246521,
        "possibleDuplicates": [
          "198713da1f9fe254",
          "19871039a67d4cfb"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-02T17:05:04.000Z",
  "versionId": "7f218f60-5a0a-4d34-8316-86a32d67c151"
}