workflows/KUn5O5hIYpRzDMT5.json
{
  "active": true,
  "connections": {
    "Crawl HN Home": {
      "main": [
        [
          {
            "node": "Extract Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Meta": {
      "main": [
        [
          {
            "node": "Fetch all posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Unposted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unposted Items": {
      "main": [
        [
          {
            "node": "Visit GH Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visit GH Page": {
      "main": [
        [
          {
            "node": "Convert HTML To Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML To Markdown": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Errored": {
      "main": [
        [
          {
            "node": "Log post to sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Generate Content": {
      "main": [
        [
          {
            "node": "Filter Errored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Crawl HN Home",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Validate Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check for unposted posts": {
      "main": [
        [
          {
            "node": "Fetch unposted posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "LinkedIn1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn1": {
      "main": [
        [
          {
            "node": "Update status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status": {
      "main": [
        [
          {
            "node": "Push notification to my phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log post to sheets": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch all posts": {
      "main": [
        [
          {
            "node": "Filter Unposted Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch unposted posts": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status1": {
      "main": [
        [
          {
            "node": "Push notification to my phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-09T11:31:11.710Z",
  "id": "KUn5O5hIYpRzDMT5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LinkedIn automator",
  "nodes": [
    {
      "parameters": {
        "url": "https://news.ycombinator.com/",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "7a5d624b-ecbc-4a19-810f-ae95fecad9fd",
      "name": "Crawl HN Home",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2260,
        320
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Import necessary modules\nimport asyncio\nimport micropip\n\n# Define an asynchronous function to install packages\nasync def install_packages():\n    await micropip.install(\"beautifulsoup4\")\n    await micropip.install(\"simplejson\")\n\n# Run the asynchronous package installation\nasyncio.get_event_loop().run_until_complete(install_packages())\n\n# Now, import the installed packages\nimport simplejson as json\nfrom bs4 import BeautifulSoup\n\n# Retrieve the HTML content from the first item in the input\n# Assuming n8n passes data as a list of items, each with a 'json' key\nhtml_content = items[0].get('json', {}).get('data', '')\n\n# Initialize BeautifulSoup with the HTML content\nsoup = BeautifulSoup(html_content, 'html.parser')\n\n# Initialize a list to store metadata of GitHub posts\ngithub_posts = []\n\n# Find all 'tr' elements with class 'athing submission'\nposts = soup.find_all('tr', class_='athing submission')\n\nfor post in posts:\n    post_id = post.get('id')\n    title_line = post.find('span', class_='titleline')\n    if not title_line:\n        continue  # Skip if titleline is not found\n\n    # Extract the title and URL\n    title_tag = title_line.find('a')\n    if not title_tag:\n        continue  # Skip if title tag is not found\n\n    title = title_tag.get_text(strip=True)\n    url = title_tag.get('href', '')\n\n    # Check if the URL is a GitHub link\n    if 'github.com' not in url.lower():\n        continue  # Skip if not a GitHub link\n\n    # Extract the site domain (e.g., github.com/username/repo)\n    site_bit = title_line.find('span', class_='sitebit comhead')\n    site = site_bit.find('span', class_='sitestr').get_text(strip=True) if site_bit else ''\n\n    # The subtext is in the next 'tr' element\n    subtext_tr = post.find_next_sibling('tr')\n    if not subtext_tr:\n        continue  # Skip if subtext row is not found\n\n    subtext_td = subtext_tr.find('td', class_='subtext')\n    if not subtext_td:\n        continue  # Skip if subtext td is not found\n\n    # Extract score\n    score_span = subtext_td.find('span', class_='score')\n    score = score_span.get_text(strip=True) if score_span else '0 points'\n\n    # Extract author\n    author_a = subtext_td.find('a', class_='hnuser')\n    author = author_a.get_text(strip=True) if author_a else 'unknown'\n\n    # Extract age\n    age_span = subtext_td.find('span', class_='age')\n    age_a = age_span.find('a') if age_span else None\n    age = age_a.get_text(strip=True) if age_a else 'unknown'\n\n    # Extract comments\n    comments_a = subtext_td.find_all('a')[-1] if subtext_td.find_all('a') else None\n    comments_text = comments_a.get_text(strip=True) if comments_a else '0 comments'\n\n    # Construct the Hacker News URL\n    hn_url = f\"https://news.ycombinator.com/item?id={post_id}\"\n\n    # Compile the metadata\n    post_metadata = {\n        'Post': post_id,\n        'title': title,\n        'url': url,\n        'site': site,\n        'score': score,\n        'author': author,\n        'age': age,\n        'comments': comments_text,\n        'hn_url': hn_url\n    }\n\n    # Append to the list of GitHub posts\n    github_posts.append(post_metadata)\n\n# Prepare the output for n8n\noutput = [{'json': post} for post in github_posts]\n\n# Return the output\nreturn output\n"
      },
      "id": "fbf1556f-9893-4ca8-8d2c-4489ccf54c24",
      "name": "Extract Meta",
      "type": "n8n-nodes-base.code",
      "position": [
        -2040,
        320
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get all processed IDs from Google Sheets\nconst sheetData = $('Fetch all posts').all();\nconst processedIds = sheetData.map(item => {\n  // Check both common column name variations\n  return String(item.json?.Post || item.json?.post_id || item.json?.id || \"\");\n}).filter(id => id); // Remove empty strings\n\n// Get all HN posts\nconst hnPosts = $('Extract Meta').all();\n\n// Filter to only new posts\nconst newPosts = hnPosts.filter(post => {\n  const postId = String(post.json.Post); // HN post ID is in json.Post\n  return !processedIds.includes(postId);\n});\n\n// Debug output\nconsole.log(\"Processed IDs from Sheet:\", processedIds);\nconsole.log(\"New posts to process:\", newPosts.map(p => p.json.Post));\n\nreturn newPosts;"
      },
      "id": "dae9600e-cb05-4c71-bcec-5f1f3e9b5e19",
      "name": "Filter Unposted Items",
      "type": "n8n-nodes-base.code",
      "position": [
        -1600,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "94c19cdc-f474-4556-a8d4-253191fd62ac",
      "name": "Visit GH Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1380,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "d7290d68-9f59-4aa3-84b3-55398e303202",
      "name": "Convert HTML To Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -1160,
        320
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7776cb97-e02d-418e-a168-612bf92d4160",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2188a6c4-2f60-4854-8de4-1a10d4970e7b",
      "name": "Filter Errored",
      "type": "n8n-nodes-base.filter",
      "position": [
        -344,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "person": "OVBYEtaS6y",
        "text": "={{ $('Filter Errored').item.json.output.linkedin }}",
        "additionalFields": {}
      },
      "id": "ea0f74c1-a34b-4de0-8311-deb51c0135d4",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        96,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "wiIxZs2GFT83ujv8",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($json.output.linkedin) {\n  \n  return $json;\n} else {\n\n  const parsedContent = JSON.parse($json.message.content);\n  if ($json.message.content.linkedin) {\n    return parsedContent;\n  }\n\n  console.log(\"Invalid formatting\")\n  return {}\n}"
      },
      "id": "9fc7a5a5-a1d4-4273-a450-94d3a43927a6",
      "name": "Validate Generate Content",
      "type": "n8n-nodes-base.code",
      "position": [
        -564,
        320
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "ac20badf-70ae-44e0-9161-31e7d735072c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2480,
        320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -912,
        440
      ],
      "id": "55c41bce-c9af-4534-ad21-cccb49c8e75b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Lv8LqTGpfGzDWuiH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<title>\n{{ $('Filter Unposted Items').item.json.title }}\n</title>\n\n<Detail>\n{{ $('Visit GH Page').item.json.data }}\n</Detail>\n\n<Repository Link>\n{{ $('Filter Unposted Items').item.json.url }}\n</Repository Link>\n\n<Response>\n{   \"linkedin\": \"Your LinkedIn post here\" }\n</Response>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=OBJECTIVE\nGenerate engaging, professional, and informative LinkedIn posts that effectively communicate the value of a project, initiative, or idea while maintaining a neutral, narrative-driven tone. The posts should include real-world use case examples to illustrate the project's practical applications. The post should also include the project link.\n\nCONTEXT\nThis assistant is designed exclusively for LinkedIn content generation. The output should align with LinkedIn’s professional audience, focusing on thought leadership, industry insights, and problem-solving narratives. Posts should provide meaningful context, articulate the core benefits, and include relevant hashtags to improve discoverability.\n\nAudience: Professionals, industry leaders, decision-makers, and knowledge seekers.\nTone: Engaging, insightful, and neutral (avoiding personal involvement).\nStructure:\n\nIntroduction – Captures attention with a compelling hook.\nContext & Problem Statement – Defines the challenge or gap.\nSolution & Features – Highlights how the project addresses the issue.\nUse Case Examples – Showcases real-world applications and scenarios where the project provides value.\nImpact & Benefits – Explains the value to different audiences.\nCall to Action (CTA) – Encourages engagement (e.g., \"Learn more here\").\nINSTRUCTIONS\n\nUse a narrative-driven approach that avoids direct personal involvement.\nEnsure clarity and depth by expanding on the project’s key features, real-world use cases, and industry relevance.\nInclude at least two practical use case examples to demonstrate the project's real-world applications.\nIncorporate a clear CTA at the end to encourage engagement (e.g., “Explore the details here”).\nStrictly adhere to LinkedIn’s 3,000-character limit while ensuring conciseness and readability.\nUse only relevant hashtags (e.g., #AI #SoftwareDevelopment #DataScience) to enhance visibility without overloading the post.\nAvoid emojis to maintain a professional tone.\nOutput should be in JSON format for structured integration."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -940,
        220
      ],
      "id": "acf0045d-149a-4b5c-8326-93c23005d8be",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{   \"twitter\": \"Your Twitter post here\",   \"linkedin\": \"Your LinkedIn post here\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -792,
        440
      ],
      "id": "e5d139f8-84e1-402c-bba8-33cdc8d0d97f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -862,
        620
      ],
      "id": "73260deb-765b-4725-bc19-e50b34c5cc12",
      "name": "Check for unposted posts"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -344,
        620
      ],
      "id": "745b3c6e-f60e-4342-9b75-7c6d62188af6",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "return $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -124,
        620
      ],
      "id": "9e6e8417-23d1-4bd1-9b2c-ef487d1a1746",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/bigaddict079",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $if(($json.fields.LinkedIn.toBoolean() === true ), $json.fields.LinkedIn), $json.fields.LinkedIn }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        536,
        470
      ],
      "id": "a36347a1-cd9a-421c-87b6-476b8852ac00",
      "name": "Push notification to my phone"
    },
    {
      "parameters": {
        "person": "OVBYEtaS6y",
        "text": "={{ $json.LinkedIn }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        96,
        620
      ],
      "id": "0990a667-2a3e-4f9c-a4ee-386c9f90ccf0",
      "name": "LinkedIn1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "wiIxZs2GFT83ujv8",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post": "={{ $('Log post to sheets').item.json.Post }}",
            "LDone": "checked",
            "status": "={{ $('Log post to sheets').item.json.LDone }}"
          },
          "matchingColumns": [
            "Post"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LDone",
              "displayName": "LDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TDone",
              "displayName": "TDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        316,
        320
      ],
      "id": "01a3add7-dbad-4b01-ada4-fe8013ca5a7d",
      "name": "Update status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXGPCUO1lJiKoduH",
          "name": "wen254"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Filter Unposted Items').item.json.title }}",
            "Post": "={{ $('Filter Unposted Items').item.json.Post }}",
            "Url": "={{ $('Filter Unposted Items').item.json.url }}",
            "LinkedIn": "={{ $json.output.linkedin }}",
            "Date": "={{ $now.toLocaleString() }}",
            "LDone": "checked"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LDone",
              "displayName": "LDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TDone",
              "displayName": "TDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -124,
        320
      ],
      "id": "9cf0e4ca-08db-4913-8839-0efde80f70d8",
      "name": "Log post to sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXGPCUO1lJiKoduH",
          "name": "wen254"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1820,
        245
      ],
      "id": "e4bcc29a-273b-4335-ba35-34fbad571bd0",
      "name": "Fetch all posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXGPCUO1lJiKoduH",
          "name": "wen254"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "LDone"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -564,
        620
      ],
      "id": "391d7cc2-227f-42ac-9001-9ade1c24a6aa",
      "name": "Fetch unposted posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXGPCUO1lJiKoduH",
          "name": "wen254"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vGMRXHUXxUo4LNC7xXoCkd8xqDrOhDb2w_9f_CJz7ng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Code').item.json.row_number }}",
            "LDone": "checked",
            "status": "checked"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tweet",
              "displayName": "Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LDone",
              "displayName": "LDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TDone",
              "displayName": "TDone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        316,
        620
      ],
      "id": "ca234f17-055f-44cb-b9ef-615f8227883c",
      "name": "Update status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eXGPCUO1lJiKoduH",
          "name": "wen254"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    },
    "node:Check for unposted posts": {
      "recurrenceRules": [
        10
      ]
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-07T15:15:45.000Z",
  "versionId": "40098b91-7cd6-4c84-8884-965a6cf093a3"
}