workflows/My workflow 5.json
{"createdAt":"2025-03-24T11:14:42.377Z","updatedAt":"2025-03-25T06:47:13.344Z","id":"D4NU5XPH1hq9xoiP","name":"My workflow 5","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"4ffa66af-3e15-49d1-b35d-4b0dc43724f5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"57024379-9318-4e88-bffe-6fbb1939049e","name":"Webhook","webhookId":"4ffa66af-3e15-49d1-b35d-4b0dc43724f5"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tblFlRp47fteE2gxI","mode":"list","cachedResultName":"Binary Craft Technologies","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tblFlRp47fteE2gxI"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.email }}","Name":"={{ $json.body.name }}","Subject":"={{ $json.body.subject }}","Message":"={{ $json.body.message }}"},"matchingColumns":["Email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[220,0],"id":"84da2fe4-9825-4312-a5ce-7db9a21949bb","name":"Airtable","credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"=Details from Contact us form\n{{ $json.fields.toJsonString() }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=<task>\n*\"You are an AI email assistant responsible for crafting professional and engaging HTML email responses. Your task is to generate a well-structured, visually appealing email using proper HTML markup. The email should be formal yet friendly, reinforcing Binary Craft Technologies' expertise and encouraging further engagement.  \n\nEnsure the email includes:  \n1. **Personalization** – Greet the user by their provided name.  \n2. **Acknowledgment** – Thank them for reaching out and confirm receipt of their inquiry.  \n3. **Company Branding** – Incorporate Binary Craft Technologies' colors (#181818 background, #00aaff accents) and a modern design.  \n4. **Key Information** – Briefly restate the company’s core expertise (AI automation, software development, API solutions, business management systems).  \n5. **Call to Action** – Encourage the user to schedule a call, check out a portfolio, or explore services.  \n6. **Contact Details & Social Links** – Provide a way to follow up or connect via email, website, or social platforms.  \n7. **HTML Optimization** – Ensure the email is **responsive** and renders well on all devices, including mobile.  \n\nThe email tone should be **professional, warm, and informative**, leaving a positive impression on the user. Always conclude with a courteous sign-off and the company's signature.\"*\n</task>\n<email template>\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Thank You for Contacting Binary Craft Technologies</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            background-color: #181818;\n            color: #ffffff;\n            margin: 0;\n            padding: 0;\n        }\n        .container {\n            max-width: 600px;\n            margin: 20px auto;\n            background-color: #222;\n            padding: 20px;\n            border-radius: 10px;\n        }\n        .header {\n            text-align: center;\n            padding-bottom: 20px;\n            border-bottom: 2px solid #00aaff;\n        }\n        .header h1 {\n            color: #00aaff;\n        }\n        .content {\n            padding: 20px 0;\n        }\n        .cta {\n            text-align: center;\n            margin-top: 20px;\n        }\n        .cta a {\n            background-color: #00aaff;\n            color: #ffffff;\n            text-decoration: none;\n            padding: 12px 20px;\n            border-radius: 5px;\n            font-size: 16px;\n            display: inline-block;\n        }\n        .footer {\n            text-align: center;\n            margin-top: 20px;\n            font-size: 12px;\n            color: #aaaaaa;\n        }\n        .footer a {\n            color: #00aaff;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>Binary Craft Technologies</h1>\n            <p>Innovating with Intelligence</p>\n        </div>\n        <div class=\"content\">\n            <p>Dear {{ $json.fields.Name }},</p>\n            <p>Thank you for reaching out to **Binary Craft Technologies**. We have received your inquiry and our team will get back to you shortly.</p>\n            <p>We specialize in:</p>\n            <ul>\n                <li>AI-Powered Automation & Workflows</li>\n                <li>Custom Software Development (Web & Desktop)</li>\n                <li>Business Management Solutions</li>\n                <li>API & Plugin Development</li>\n                <li>Cloud Deployment & Domain Services</li>\n            </ul>\n            <p>If you have any urgent inquiries, feel free to contact us at davidnjihia536@gmail.com or visit our website.</p>\n            <div class=\"cta\">\n                <a href=\"https://bigaddict.pythonanywhere.com\">Explore Our Services</a>\n            </div>\n        </div>\n        <div class=\"footer\">\n            <p>Follow us on <a href=\"https://linkedin.com/in/bigaddict\">LinkedIn</a> | <a href=\"https://github.com/BigAddict\">GitHub</a></p>\n            <p>©2025 Binary Craft Technologies. All rights reserved.</p>\n        </div>\n    </div>\n</body>\n</html>\n<email template>\n<output format>\n{\n  \"email\": \"email here\"\n}\n</output format>"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[440,0],"id":"d87f20a9-5020-4d14-b4d0-16f7675435a7","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,220],"id":"3af7c85a-bb94-4400-90fd-60f0108bf8fa","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"email\": \"email here\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[680,220],"id":"fabf928d-9afb-4912-b6c4-557936f952f9","name":"Structured Output Parser"},{"parameters":{"sendTo":"={{ $('Airtable').item.json.fields.Email }}","subject":"Thank You for Contacting Binary Craft Technologies","message":"={{ $json.output.email }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,0],"id":"d72e5774-be90-4405-8bbb-f84e8b31fe1f","name":"Gmail","webhookId":"9ae19f5b-fc25-49ba-b9f8-c9ff38936ef3","credentials":{"gmailOAuth2":{"id":"4TyfVNEhMetQ1H8o","name":"Gmail account"}}}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"8n8.bigaddict.shop","connection":"close","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36","sec-ch-ua":"\"Chromium\";v=\"134\", \"Not:A-Brand\";v=\"24\", \"Brave\";v=\"134\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","sec-gpc":"1","accept-language":"en-US,en;q=0.7","origin":"https://preview--binary-intellect-hub.lovable.app","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"https://preview--binary-intellect-hub.lovable.app/","accept-encoding":"gzip, deflate, br, zstd","x-request-id":"51a193fa-4e6c-44d0-a378-2f3a9487edcb","x-forwarded-for":"102.211.145.67","x-forwarded-proto":"https","x-forwarded-port":"443","via":"1.1 vegur","connect-time":"0","x-request-start":"1742815416745","total-route-time":"0","content-length":"145"},"params":{},"query":{},"body":{"name":"David Njihia Maina","email":"davidnjihia536@gmail.com","subject":"Website Development","message":"Ffvklbvdvbjbsdvsdhbscjhfbehbfdfbkjlj"},"webhookUrl":"https://8n8.bigaddict.shop/webhook/4ffa66af-3e15-49d1-b35d-4b0dc43724f5","executionMode":"production"}}]},"versionId":"c3471ca7-db4b-4d67-b971-9be95898f4bb","triggerCount":1,"tags":[]}