workflows/My workflow 3.json
{"createdAt":"2025-03-13T14:42:11.395Z","updatedAt":"2025-03-17T12:15:12.717Z","id":"ntqvNCB0yD23WCNP","name":"My workflow 3","active":false,"nodes":[{"parameters":{"formTitle":"Image Generation","formDescription":"Convert your text to images.","formFields":{"values":[{"fieldLabel":"Enter your prompt","placeholder":"Mesoporous carbon synthesis via soft templating method","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"be50eca2-bfc8-4ff8-a102-7b89626f3d4f","name":"On form submission","webhookId":"31690b9e-a73e-4754-ae37-6d6d54201225"},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ $json['Enter your prompt'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,0],"id":"c33c0787-4dc6-4497-9a2d-cc6902ab3730","name":"Generate Image"},{"parameters":{"operation":"binaryToPropery","destinationKey":"image","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[380,0],"id":"abd01de2-6f74-4065-90fa-896b8569a4b6","name":"Convert image to Base64 string"},{"parameters":{"language":"python","pythonCode":"# Import necessary modules\nimport asyncio\nimport micropip\n\n# Define an asynchronous function to install packages\nasync def install_packages():\n    await micropip.install(\"opencv-python\")\n    await micropip.install(\"numpy\")\n\n# Run the asynchronous package installation\nasyncio.get_event_loop().run_until_complete(install_packages())\n\nimport base64\nimport cv2\nimport numpy as np\n\n# Get the image path from n8n input\nimage_path = _input.first().json.image\n\n# Read the image\nimage = cv2.imread(image_path)\nif image is None:\n    raise ValueError(\"Failed to load the image. Check the path.\")\n\n# Convert to grayscale\ngray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)\n\n# Get image dimensions\nheight, width = gray.shape[:2]\n\n# Define the region of the watermark (bottom-right corner)\nwatermark_mask = np.zeros_like(gray)\nwatermark_mask[int(height * 0.90):, int(width * 0.70):] = 255  # Adjusted mask\n\n# Apply inpainting to remove the watermark\nimage_no_watermark = cv2.inpaint(image, watermark_mask, inpaintRadius=5, flags=cv2.INPAINT_TELEA)\n\n# Convert processed image to Base64 for returning to n8n\n_, buffer = cv2.imencode(\".png\", image_no_watermark)\nimage_base64 = base64.b64encode(buffer).decode(\"utf-8\")\n\n# Return processed image\nreturn [{ \"image\": image_base64 }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"id":"7ff9672a-582e-4d40-8f41-59f92f941de2","name":"Remove image watermark"}],"connections":{"On form submission":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert image to Base64 string","type":"main","index":0}]]},"Convert image to Base64 string":{"main":[[{"node":"Remove image watermark","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Enter your prompt":"A cute smiling kitten","submittedAt":"2025-03-17T13:48:40.727+03:00","formMode":"test"}}]},"versionId":"6ff88322-3fa9-419d-b59b-85895fdc6d2a","triggerCount":0,"tags":[]}