workflows/Personal Assistant and Mentor.json
{"createdAt":"2025-03-06T19:37:39.090Z","updatedAt":"2025-03-07T10:18:12.629Z","id":"5mghsfNcebMUAlR5","name":"Personal Assistant and Mentor","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5d84cf10-e748-4999-b75c-1258f41e8518","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[220,0],"id":"bc4f56eb-6569-4013-9938-029b56a51109","name":"When chat message received","webhookId":"edad0d75-867d-4a36-bedd-6a013623a803"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"144ead5c-8033-4e7e-a44e-6142661849f8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[300,220],"id":"1b571bd3-0cdb-4e3a-880b-da2a230412e8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"tableName":"PersonalAssistant","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[420,220],"id":"08159075-c2ce-4cb2-990a-b8de437c9827","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"route"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-280,700],"id":"f4ed2ef9-1e12-4b9c-ba05-45206530ded9","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"730b8b32-09bf-47d3-ad22-010ed3511511","leftValue":"={{ $json.route }}","rightValue":"save_memory","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_memory"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"get_board","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_board"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,700],"id":"ff47c8d5-0817-45c6-8aa8-b98edeea759e","name":"Switch"},{"parameters":{"resource":"board","operation":"get","id":{"__rl":true,"value":"={{ $json.query }}","mode":"url"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1100,920],"id":"5b4a1990-1add-48d1-839a-5eb457306e53","name":"Trello","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7a7f65c-50bf-42a9-92bb-d260e0197b26","name":"response","value":"={{ $json.board }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,920],"id":"b45910c4-1429-45e0-a6f9-ac75174a7c5d","name":"response"},{"parameters":{"assignments":{"assignments":[{"id":"9646c011-e360-49da-af46-142676327981","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,920],"id":"e0074df3-6e3a-402f-955d-e9f931fe73de","name":"Fetch query"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nreturn { \"board\": $input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,920],"id":"9eb9a2a1-e23e-4753-b512-20c8b8f3a853","name":"format data"},{"parameters":{"content":"## Retrieve trello board\nTakes in a URL to trello board as input and returns a json for the board.","height":320,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,800],"id":"2c23f25f-440a-4d59-a397-ba340e4cd90a","name":"Sticky Note"},{"parameters":{"name":"get_trello_board","description":"Call this tool to get trello board based on an id.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"get_board","query":"={{ $fromAI(\"board_url\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[660,220],"id":"2251abe2-6887-4478-b944-db1d65164eb5","name":"Get trello board"},{"parameters":{"mode":"retrieve-as-tool","toolName":"assistant_memories","toolDescription":"Use this tool to work with memories you've saved in the past","tableName":"assistant_memories","topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[580,-220],"id":"dfd9ffb7-a6f6-4790-9eb5-3d9f366587b3","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[560,-120],"id":"bd93a2f9-28f3-48fc-8705-344d231b862a","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7221f6e-cb7f-4cf2-8065-86547d59829a","name":"memory","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,540],"id":"7e5de0c1-5b7a-451a-b692-9a0ec58e609a","name":"Fetch memory"},{"parameters":{"mode":"insert","tableName":"assistant_memories","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1080,540],"id":"4fef5914-5d93-44ff-823d-ac9c7a8d4211","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1180,660],"id":"2ffde8a2-b4b5-4c94-a9d3-7a831602c9a1","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1100,440],"id":"96f96e65-72e6-471e-bd5c-1b440aed25f2","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1360,600],"id":"f0d8e26e-bf54-4f3d-a604-670ab9ab07d7","name":"Recursive Character Text Splitter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\"response\": $input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,540],"id":"81bfdecb-ca50-45fc-b17d-c74edcfd9bba","name":"Format Response"},{"parameters":{"assignments":{"assignments":[{"id":"48567157-bcdd-486f-84f8-475a4283d876","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,540],"id":"dd1c2ea6-63b4-49f4-aa30-9e0c01ae6e92","name":"Save memory response"},{"parameters":{"name":"save_memory","description":"Call this tool to save to a long-term later. The memories are saved in a vector store.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"save_memory","query":"={{ $fromAI(\"memory\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[540,220],"id":"66a0d7b1-4139-4857-aa58-d47354e4525e","name":"Save memory"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Fetch memory","type":"main","index":0}],[{"node":"Fetch query","type":"main","index":0}]]},"Trello":{"main":[[{"node":"format data","type":"main","index":0}]]},"Fetch query":{"main":[[{"node":"Trello","type":"main","index":0}]]},"format data":{"main":[[{"node":"response","type":"main","index":0}]]},"Get trello board":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Fetch memory":{"main":[[{"node":"Postgres PGVector Store1","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Postgres PGVector Store1":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Save memory response","type":"main","index":0}]]},"Save memory":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"route":"save_memory","query":"Hi there. My name is David Njihia. You are my personal assistant. I would love it if you refer to me as BigAddict."}}]},"versionId":"4000c38b-2bbd-4915-b0ab-97cd56db4248","triggerCount":0,"tags":[]}