workflows/Personal Assistant and Mentor.json
{"createdAt":"2025-03-06T19:37:39.090Z","updatedAt":"2025-03-07T14:47:01.358Z","id":"5mghsfNcebMUAlR5","name":"Personal Assistant and Mentor","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5d84cf10-e748-4999-b75c-1258f41e8518","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[220,0],"id":"bc4f56eb-6569-4013-9938-029b56a51109","name":"When chat message received","webhookId":"edad0d75-867d-4a36-bedd-6a013623a803"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant. If the user asks for something you don't remember always check the assistant memory first. Always remember to save valuable memories too.\nFor now you're under development and all chats are for testing purposes so please follow instructions correctly","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"144ead5c-8033-4e7e-a44e-6142661849f8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[300,220],"id":"1b571bd3-0cdb-4e3a-880b-da2a230412e8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"addict_assistant","tableName":"PersonalAssistant","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[420,220],"id":"08159075-c2ce-4cb2-990a-b8de437c9827","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"route"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,940],"id":"f4ed2ef9-1e12-4b9c-ba05-45206530ded9","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"730b8b32-09bf-47d3-ad22-010ed3511511","leftValue":"={{ $json.route }}","rightValue":"save_memory","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1️⃣save_memory"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cb762fd-09ad-4f33-ace8-989f4b7d1c67","leftValue":"={{ $json.route }}","rightValue":"create_board","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2️⃣create_board"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00e01a3-f9e0-44f2-92e7-e62c64712988","leftValue":"={{ $json.route }}","rightValue":"delete_board","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3️⃣delete_board"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"get_board","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4️⃣get_board"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dff63b56-4b0d-4add-863e-7d86cb69b4e0","leftValue":"={{ $json.route }}","rightValue":"get_lists","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5️⃣get_lists"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7aee2b2-b4b5-4386-b2a6-f161b360b957","leftValue":"={{ $json.route }}","rightValue":"get_all_cards","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7️⃣get_all_cards"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72aa450c-b9e7-4ccf-83b1-cd5b6947895b","leftValue":"={{ $json.route }}","rightValue":"create_card","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8️⃣create_card"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,900],"id":"ff47c8d5-0817-45c6-8aa8-b98edeea759e","name":"Switch"},{"parameters":{"resource":"board","operation":"get","id":{"__rl":true,"value":"={{ $json.query }}","mode":"url"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1080,1360],"id":"5b4a1990-1add-48d1-839a-5eb457306e53","name":"Trello","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"assignments":{"assignments":[{"id":"d7a7f65c-50bf-42a9-92bb-d260e0197b26","name":"response","value":"={{ $json.board }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1360],"id":"b45910c4-1429-45e0-a6f9-ac75174a7c5d","name":"response"},{"parameters":{"assignments":{"assignments":[{"id":"9646c011-e360-49da-af46-142676327981","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,1360],"id":"e0074df3-6e3a-402f-955d-e9f931fe73de","name":"Fetch query"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nreturn { \"board\": $input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,1360],"id":"9eb9a2a1-e23e-4753-b512-20c8b8f3a853","name":"format data"},{"parameters":{"content":"## Retrieve trello board\nTakes in a URL to trello board as input and returns a json for the board.","height":320,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,1240],"id":"2c23f25f-440a-4d59-a397-ba340e4cd90a","name":"Sticky Note"},{"parameters":{"name":"get_trello_board","description":"Call this tool to get trello board based on an id.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"get_board","query":"={{ $fromAI(\"board_url\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[940,220],"id":"2251abe2-6887-4478-b944-db1d65164eb5","name":"Get trello board"},{"parameters":{"mode":"retrieve-as-tool","toolName":"assistant_memories","toolDescription":"Use this tool to work with memories you've saved in the past","tableName":"assistant_memories","topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[480,-280],"id":"dfd9ffb7-a6f6-4790-9eb5-3d9f366587b3","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[460,-180],"id":"bd93a2f9-28f3-48fc-8705-344d231b862a","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7221f6e-cb7f-4cf2-8065-86547d59829a","name":"memory","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,540],"id":"7e5de0c1-5b7a-451a-b692-9a0ec58e609a","name":"Fetch memory"},{"parameters":{"mode":"insert","tableName":"assistant_memories","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[1080,540],"id":"4fef5914-5d93-44ff-823d-ac9c7a8d4211","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[1180,660],"id":"2ffde8a2-b4b5-4c94-a9d3-7a831602c9a1","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1100,440],"id":"96f96e65-72e6-471e-bd5c-1b440aed25f2","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1360,600],"id":"f0d8e26e-bf54-4f3d-a604-670ab9ab07d7","name":"Recursive Character Text Splitter"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\"response\": $input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,540],"id":"81bfdecb-ca50-45fc-b17d-c74edcfd9bba","name":"Format Response"},{"parameters":{"assignments":{"assignments":[{"id":"48567157-bcdd-486f-84f8-475a4283d876","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,540],"id":"dd1c2ea6-63b4-49f4-aa30-9e0c01ae6e92","name":"Save memory response"},{"parameters":{"name":"save_memory","description":"Call this tool to save to a long-term later. The memories are saved in a vector store.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"save_memory","query":"={{ $fromAI(\"memory\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[540,220],"id":"66a0d7b1-4139-4857-aa58-d47354e4525e","name":"Save memory"},{"parameters":{"content":"## Long term memory retreval\nLong-term memory for the assistant","height":340,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,-360],"id":"daaf2696-a1eb-4937-86f6-05aa1d832666","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"b48b0d4c-bc8c-4aaa-adc4-9e34dc7b2d91","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,820],"id":"845250ba-5f9a-497b-b163-c99c98d28e01","name":"Create board"},{"parameters":{"name":"create_trello_board","description":"Call this tool to create a board on trello","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"create_board","query":"={\"board_name\": {{ $fromAI(\"board_name\") }},\"board_description\": {{ $fromAI(\"board_description\") }}}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[660,220],"id":"a6868c5a-781f-41ac-bab8-edfd87ed8579","name":"Create a board"},{"parameters":{"resource":"board","name":"={{ $json.output.board_name }}","description":"={{ $json.output.board_description }}","additionalFields":{"prefs_cardCovers":true,"defaultLabels":true,"defaultLists":true}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1480,820],"id":"9a4676dc-2a1e-4f77-89d5-b2542dd42f46","name":"Create board1","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"jsCode":"return { \"response\": $input.all()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,820],"id":"2905c899-c464-4d57-aca9-c02564fdb549","name":"Format board creation output"},{"parameters":{"assignments":{"assignments":[{"id":"ad04a6cf-61f3-4054-acd0-2d8cc05eae8f","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,820],"id":"17e415c0-e250-45d5-b040-6e0ede4821d2","name":"response1"},{"parameters":{"text":"={{ $json.query }}","attributes":{"attributes":[{"name":"board_name","description":"Trello board name","required":true},{"name":"board_description","description":"A description for the trello board","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1080,820],"id":"7337c6d8-b4a7-4e68-9b82-0444c3c5c88a","name":"Information Extractor"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-180,1160],"id":"6064d3c1-897e-4a53-891e-b5fe561b1bee","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e655512e-3d4f-486a-b39b-9b563edd03c7","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,1060],"id":"65355493-f655-46bd-bb9e-50794a16cb9f","name":"Edit Fields"},{"parameters":{"resource":"board","operation":"delete","id":{"__rl":true,"value":"={{ $json.query }}","mode":"url"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1080,1060],"id":"618bce72-13ce-4e76-b008-48179ecc83f4","name":"Trello1","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"name":"delete_trello_board","description":"Call this tool to delete trello board based on the url","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"delete_board","query":"={{ $fromAI(\"board_url\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[800,220],"id":"d7b006eb-4e90-4645-9d13-a8fbf5635c55","name":"Delete trello board"},{"parameters":{"assignments":{"assignments":[{"id":"7feef9dd-c7a2-4d80-bafd-d64fc1a1d3ef","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,1660],"id":"ffd1cf49-5838-4737-a010-ea081892ddea","name":"Edit Fields1"},{"parameters":{"resource":"list","operation":"getAll","id":"={{ $json.query }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1080,1660],"id":"ccdc42f6-8aa0-455d-a063-9212a9acfe78","name":"Trello2","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"name":"get_all_list_from_board","description":"Call this tool to retrieve all list that a trello board has. The required argument is the board id.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"get_lists","query":"={{ $fromAI(\"board_id\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1100,220],"id":"be4fa16d-6884-4172-877f-6b6f270adddf","name":"Get list from a board"},{"parameters":{"jsCode":"// Initialize an empty array to store all item data\nlet mergedData = [];\n\n// Loop through each item and collect its JSON content\n$input.all().forEach(item => {\n    mergedData.push(item.json);\n});\n\n// Return a single item with all merged data inside \"research\"\nreturn [{ json: { lists: mergedData } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,1660],"id":"07af7408-4e78-4ff3-b4dd-7f195be44563","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"a54bf670-192b-41d3-87ab-6fff7986632e","name":"query","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,1900],"id":"515584b4-2ae5-4288-96d0-db03453fd4b8","name":"Edit Fields2"},{"parameters":{"resource":"list","operation":"getCards","id":"={{ $json.query }}","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1080,1900],"id":"27033371-6514-45e4-90b2-2ebc5ed40618","name":"Trello3","credentials":{"trelloApi":{"id":"MIJGzcNSYunZX8uw","name":"My Trello"}}},{"parameters":{"jsCode":"// Initialize an empty array to store all item data\nlet mergedData = [];\n\n// Loop through each item and collect its JSON content\n$input.all().forEach(item => {\n    mergedData.push(item.json);\n});\n\n// Return a single item with all merged data inside \"research\"\nreturn [{ json: { cards: mergedData } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,1900],"id":"3825e9b5-f411-4d57-b380-9159199858e0","name":"Code1"},{"parameters":{"name":"get_all_cards_from_list","description":"Call this tool to retrieve all cards from a list using it's id.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"get_all_cards","query":"={{ $fromAI(\"list_id\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1260,220],"id":"8f0379f1-5ded-41f9-b309-41401ead4407","name":"Get all cards from a list"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[840,-360],"id":"d2fcfdcb-adb3-4c30-b6e6-5aab932863d8","name":"Calculator"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,2140],"id":"db06c3b5-a22c-43a9-b3f3-697523ff70f8","name":"Edit Fields3"},{"parameters":{"name":"create_card","description":"Call this tool to create trello card in a certain list.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={ {{ $fromAI(\"list_id\") }}, {{ $fromAI(\"card_name\") }}, {{ $fromAI(\"card_description\", \"Card description. The more detailed the better. It also supports markdown\") }}, {{ $fromAI(\"due_date\", \"A due date in the format `2025-03-21 00:00:00`\") }} }","route":"create_card"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1440,220],"id":"91694179-cdcb-4321-b46d-2b10a1bac8ea","name":"Create a card"},{"parameters":{"attributes":{"attributes":[{"name":"card_name","description":"card name","required":true},{"name":"list_id","description":"list id","required":true},{"name":"card_description","description":"card description","required":true},{"name":"due_date","description":"due date"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1080,2140],"id":"05ca24aa-9de4-4dfd-bb92-2302450c4525","name":"Information Extractor1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Fetch memory","type":"main","index":0}],[{"node":"Create board","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Fetch query","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Trello":{"main":[[{"node":"format data","type":"main","index":0}]]},"Fetch query":{"main":[[{"node":"Trello","type":"main","index":0}]]},"format data":{"main":[[{"node":"response","type":"main","index":0}]]},"Get trello board":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Fetch memory":{"main":[[{"node":"Postgres PGVector Store1","type":"main","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Postgres PGVector Store1":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Save memory response","type":"main","index":0}]]},"Save memory":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a board":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create board":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Create board1":{"main":[[{"node":"Format board creation output","type":"main","index":0}]]},"Format board creation output":{"main":[[{"node":"response1","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Create board1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Trello1","type":"main","index":0}]]},"Delete trello board":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Trello2","type":"main","index":0}]]},"Get list from a board":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Trello2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Trello3","type":"main","index":0}]]},"Trello3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Get all cards from a list":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields3":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"Information Extractor1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"route":"get_all_cards","query":"U4bZ4YFQ"}}]},"versionId":"8e83160f-46ad-4c63-96b5-b44be1cd0c85","triggerCount":0,"tags":[]}