workflows/Personal Assistant and Mentor.json
{"createdAt":"2025-03-06T19:37:39.090Z","updatedAt":"2025-03-07T09:26:28.311Z","id":"5mghsfNcebMUAlR5","name":"Personal Assistant and Mentor","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5d84cf10-e748-4999-b75c-1258f41e8518","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[220,0],"id":"bc4f56eb-6569-4013-9938-029b56a51109","name":"When chat message received","webhookId":"edad0d75-867d-4a36-bedd-6a013623a803"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0],"id":"144ead5c-8033-4e7e-a44e-6142661849f8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[340,220],"id":"1b571bd3-0cdb-4e3a-880b-da2a230412e8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"tableName":"PersonalAssistant","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[480,220],"id":"08159075-c2ce-4cb2-990a-b8de437c9827","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QavHAHzgP7OAuqHp","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"route"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-280,540],"id":"f4ed2ef9-1e12-4b9c-ba05-45206530ded9","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"get_board","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-60,540],"id":"ff47c8d5-0817-45c6-8aa8-b98edeea759e","name":"Switch"},{"parameters":{"name":"get_trello_board","description":"Call this tool to get trello board based on an id.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"route":"get_board","query":"={{ $fromAI(\"board_id\") }}"},"matchingColumns":[],"schema":[{"id":"route","displayName":"route","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[640,220],"id":"2251abe2-6887-4478-b944-db1d65164eb5","name":"Call n8n Workflow Tool"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f228868-4adb-4bda-8e0d-b5b1eadc5c6b","triggerCount":0,"tags":[]}