workflows/qE8T6abiIKS9q9qd.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-04T06:47:03.203Z",
  "id": "qE8T6abiIKS9q9qd",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bigaddict.shop contact form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4ffa66af-3e15-49d1-b35d-4b0dc43724f5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "3b28d0de-9267-4385-b52e-76a9abbf3c7a",
      "name": "Webhook",
      "webhookId": "4ffa66af-3e15-49d1-b35d-4b0dc43724f5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appdctiTTeWBvL6bv",
          "mode": "list",
          "cachedResultName": "Trading",
          "cachedResultUrl": "https://airtable.com/appdctiTTeWBvL6bv"
        },
        "table": {
          "__rl": true,
          "value": "tblFlRp47fteE2gxI",
          "mode": "list",
          "cachedResultName": "Binary Craft Technologies",
          "cachedResultUrl": "https://airtable.com/appdctiTTeWBvL6bv/tblFlRp47fteE2gxI"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.body.email }}",
            "Name": "={{ $json.body.name }}",
            "Subject": "={{ $json.body.subject }}",
            "Message": "={{ $json.body.message }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "2164347c-d05a-4a66-8780-adcfdb9cf95d",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "crJqrZz9qjbZ2Tu6",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable').item.json.fields.Email }}",
        "subject": "Thank You for Contacting Binary Craft Technologies",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Thank You for Contacting Binary Craft Technologies</title>\n  </head>\n  <body style=\"margin:0; padding:0; background-color:#181818; font-family:Arial, sans-serif; color:#ffffff;\">\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color:#222222; border-collapse:collapse; border-radius:10px; overflow:hidden;\">\n      <tr>\n        <td align=\"center\" style=\"padding: 20px; border-bottom: 2px solid #00aaff;\">\n          <h1 style=\"margin: 0; font-size: 24px; color: #00aaff;\">Binary Craft Technologies</h1>\n          <p style=\"margin: 5px 0; color: #ffffff;\">Innovating with Intelligence</p>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding: 20px; color: #ffffff;\">\n          <p style=\"margin: 0 0 10px;\">Dear {{ $json.fields.Name }},</p>\n          <p style=\"margin: 0 0 10px;\">Thank you for reaching out to <strong>Binary Craft Technologies</strong>. We have received your inquiry and our team will get back to you shortly.</p>\n          <p style=\"margin: 0 0 10px;\">We specialize in:</p>\n          <ul style=\"padding-left: 20px; margin: 0 0 10px;\">\n            <li style=\"margin-bottom: 5px;\">AI-Powered Automation & Workflows</li>\n            <li style=\"margin-bottom: 5px;\">Custom Software Development (Web & Desktop)</li>\n            <li style=\"margin-bottom: 5px;\">Business Management Solutions</li>\n            <li style=\"margin-bottom: 5px;\">API & Plugin Development</li>\n            <li style=\"margin-bottom: 5px;\">Cloud Deployment & Domain Services</li>\n          </ul>\n          <p style=\"margin: 0 0 20px;\">If you have any urgent inquiries, feel free to contact us at <a href=\"mailto:davidnjihia536@gmail.com\" style=\"color: #00aaff; text-decoration: none;\">davidnjihia536@gmail.com</a>.</p>\n          <div style=\"text-align:center; margin: 30px 0;\">\n            <a href=\"https://bigaddict.shop\" style=\"background-color:#00aaff; color:#ffffff; text-decoration:none; padding:12px 20px; border-radius:5px; font-size:16px; display:inline-block;\">Explore Our Services</a>\n          </div>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding: 10px; font-size: 12px; color: #aaaaaa;\">\n          <p style=\"margin: 0;\">\n            Follow us on <a href=\"https://linkedin.com/in/bigaddict\" style=\"color:#00aaff; text-decoration:none;\">LinkedIn</a> |\n            <a href=\"https://github.com/BigAddict\" style=\"color:#00aaff; text-decoration:none;\">GitHub</a>\n          </p>\n          <p style=\"margin: 5px 0;\">©2025 Binary Craft Technologies. All rights reserved.</p>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "id": "6cafe761-e526-4544-bd54-bf29b84cfe74",
      "name": "Gmail",
      "webhookId": "9ae19f5b-fc25-49ba-b9f8-c9ff38936ef3",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ThqC1trQqFGaMfX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bigaddict.shop",
            "x-real-ip": "172.68.47.131",
            "x-forwarded-for": "102.211.145.67, 172.68.47.131",
            "x-forwarded-proto": "http",
            "connection": "upgrade",
            "content-length": "123",
            "cf-ray": "92c815ebdd5aacb0-NBO",
            "cf-ipcountry": "KE",
            "accept-encoding": "gzip, br",
            "origin": "https://bigaddict.shop",
            "priority": "u=1, i",
            "referer": "https://bigaddict.shop/",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "cf-connecting-ip": "102.211.145.67",
            "cdn-loop": "cloudflare; loops=1",
            "sec-fetch-site": "same-site",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Brave\";v=\"135\", \"Not-A.Brand\";v=\"8\", \"Chromium\";v=\"135\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "sec-gpc": "1",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "David Njihia Maina",
            "email": "davidnjihia536@gmail.com",
            "subject": "Website Development",
            "message": "this is a test"
          },
          "webhookUrl": "https://n8n.bigaddict.shop/webhook/4ffa66af-3e15-49d1-b35d-4b0dc43724f5",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-07T08:29:35.000Z",
  "versionId": "f48f9042-de5b-422d-8bd3-c8edc1306573"
}