workflows/Technical stock analysis with Telegram, Airtable and a GPT-powered AI Agent.json
{"createdAt":"2025-03-17T15:10:03.145Z","updatedAt":"2025-03-23T18:21:47.364Z","id":"VqxfqMjljubienRu","name":"Technical stock analysis with Telegram, Airtable and a GPT-powered AI Agent","active":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"=335458847"},"id":"1340d672-61c8-403e-89a7-f28e3afbc0e7","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2180,760],"typeVersion":1.3},{"parameters":{"name":"getChart","description":"Call this tool to get an analysis of a requested stock. The URL that is output from this tool must be returned in markdown format. For example, ![](url)\n\nIt'll be obligatory to pass ticker and chart style. Both can be specified by user. If chart style is not specified by user, use \"candle\" as default. Possible options for style: [bar, candle, line, area, heikinAshi, hollowCandle, baseline, hiLo, column]","workflowId":{"__rl":true,"value":"={{ $workflow.id}}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"ticker":"{{ $fromAI(\"ticker\") }}","chart_style":"{{ $fromAI(\"chart_style\") }}"},"matchingColumns":[],"schema":[{"id":"ticker","displayName":"ticker","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chart_style","displayName":"chart_style","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"3c770b79-d6c5-4512-94fa-7719af6d0620","name":"Get Chart","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[2320,780],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Overview  \n\nYou are an AI agent specializing in  analyzing stocks. You can perform technical analysis using the **GetChart** tool to generate stock graphs.  \n\n\n# Instructions \n\n1. Begin by offering a warm and professional greeting.\n2. Maintain a conversational style when discussing finance and stock markets.\n3. If a user requests technical analysis of a stock, supplying its ticker:\n- Send only the stock ticker to the GetChart tool.\n- Present the chart's analysis and insights in a conversational format.\n4. When addressing financial subjects, provide thorough, easy-to-understand explanations suitable for the user's knowledge.\n5. Refrain from giving direct financial recommendations(buy or sell) or making predictions.\n\n\n## Tools  \n\n- **GetChart**: Used for generating stock graphs based on provided tickers.  \n\n## Standard Operating Procedure\n\n1. Interact with the user: Maintain a professional and approachable demeanor.\n2. Conduct stock analysis:\n- Upon request for technical analysis, send the stock's ticker symbol to the GetChart tool.\n- Present the chart's findings in an easy-to-understand, conversational manner.\n3. Clarify financial topics: Simplify intricate terms into accessible explanations suitable for the user's knowledge level.\n4. Refrain from offering financial recommendations: Deliver information and analysis without suggesting specific actions.\n5. Verify user understanding: Ask clarifying questions to ensure all needs are met."}},"id":"a44b48ac-9bfc-4988-81d7-177357971558","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[2080,540],"typeVersion":1.7},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a6d405f0-52c5-4937-85cd-7ef6e4a596b6","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[1180,540],"webhookId":"dbf7f0b7-5cdd-45a3-8c91-39f0665aba76","typeVersion":1.1,"credentials":{"telegramApi":{"id":"juybEQLvR6ziXOio","name":"Talk Business Bot"}}},{"parameters":{"chatId":"=5090878071","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"22bd61a2-45cb-4074-a027-28a9a0d327f5","name":"Send Analysis","type":"n8n-nodes-base.telegram","position":[2460,540],"webhookId":"949b8c67-29b9-4714-8a42-b0e59e91ae10","typeVersion":1.2,"credentials":{"telegramApi":{"id":"juybEQLvR6ziXOio","name":"Talk Business Bot"}}},{"parameters":{"workflowInputs":{"values":[{"name":"ticker"},{"name":"chart_style"}]}},"id":"6f18a794-c302-47c3-8516-d14597408ae7","name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1200,1180],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"fdf7e016-7082-4146-9038-454139023990","name":"response","type":"string","value":"={{ $('Technical Analysis').item.json.choices[0].message.content }}"}]},"options":{}},"id":"102a021b-c0bb-4bdb-bca1-a4f0f7a84687","name":"response","type":"n8n-nodes-base.set","position":[2460,1180],"typeVersion":3.4},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"ba96d38a-5a12-44a0-927f-5893cd91ac9b","name":"Download Chart","type":"n8n-nodes-base.httpRequest","position":[1860,1180],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.chart-img.com/v2/tradingview/advanced-chart/storage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"style\": \"{{ $json.chart_style }}\",\n  \"theme\": \"light\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n{\n      \"name\": \"Relative Strength Index\"\n    },\n{\n      \"name\": \"Stochastic RSI\"\n}\n  ]\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"7deaf5b4-0280-46d2-b9f8-4d14a67f60b6","name":"Get Chart URL","type":"n8n-nodes-base.httpRequest","position":[1640,1180],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"mpGZ0OzOXVPCzlKq","name":"Together AI"}}},{"parameters":{"operation":"sendPhoto","chatId":"335458847","file":"={{ $('Get Chart URL').item.json.url }}","additionalFields":{}},"id":"46ebe865-b13b-4d7d-8acf-a10d78ba4b5b","name":"Send Chart","type":"n8n-nodes-base.telegram","position":[2260,1180],"webhookId":"a42b988a-cd3a-4cf0-8975-7a38c8b510ba","typeVersion":1.2,"credentials":{"telegramApi":{"id":"juybEQLvR6ziXOio","name":"Talk Business Bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.voice.file_id }}","rightValue":""}]},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"c3d63b6f-5908-4e64-9063-1910024b0ed4","name":"Switch","type":"n8n-nodes-base.switch","position":[1360,540],"typeVersion":3.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"1d27102b-47c9-4aa7-a93c-71699326960d","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","position":[1880,460],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"7kVCDznRQh7m0DDI","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"1252b926-9965-4499-a539-3c7e2a7eb151","name":"Download File","type":"n8n-nodes-base.telegram","position":[1720,460],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"juybEQLvR6ziXOio","name":"Talk Business Bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"options":{}},"id":"3777f861-d933-4a95-af74-2e787beda709","name":"Set Text","type":"n8n-nodes-base.set","position":[1780,660],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"cf5f7210-5b54-4f4a-abf7-87873be82df4","name":"ticker","type":"string","value":"={{ $json.ticker }}"},{"id":"12a27443-a009-4bd5-b33f-bcec74aa74c7","name":"chart_style","type":"string","value":"={{ $json.chart_style }}"}]},"options":{}},"id":"5630eed3-7b99-400f-ad54-bf72c7e52570","name":"Set Values","type":"n8n-nodes-base.set","position":[1420,1180],"typeVersion":3.4},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"text":"=# Professional Role\n\nYou are a financial analyst, specializing in the interpretive analysis of stock charts. Your primary responsibility is to scrutinize provided financial charts and deliver comprehensive assessments of their technical dimensions. This includes examining candlestick formations, Moving Average Convergence Divergence (MACD) metrics, trading volume patterns, **Relative Strength Index (RSI), Stochastic RSI**, and prevailing market sentiment. Your analysis should be a thorough dissection of the chart, pinpointing critical areas and offering practical insights.\n\nWhen evaluating a stock chart, ensure the inclusion of the following:\n\n1. **Candlestick Pattern Interpretation**:\n    - Recognize and articulate the significance of any notable candlestick formations (e.g., bullish engulfing, doji, hammer).\n    - Provide commentary on the prevailing market direction (upward, downward, or lateral).\n    - Identify potential zones for price surges or retracements.\n\n2. **Relative Strength Index (RSI) Examination**:\n    - **Extract the numerical RSI value from the chart.**\n    - Describe the current RSI value and its market positioning (e.g., overbought, oversold, neutral) **based on the extracted value.**\n    - Explain how the extracted RSI value and its trend either support or oppose the ongoing price trend.\n    - Identify any divergences between RSI values and price movement **that can be discerned from the chart.**\n\n3. **Stochastic RSI Scrutiny(Stoch RSI)**:\n    - **Extract the numerical values of the Stochastic RSI's K and D lines from the chart.**\n    - Detail the present values of the K and D lines **based on the extracted numerical data.**\n    - Analyze any crossovers or divergences observed between the K and D lines **based on the extracted values and their visual representation.**\n    - Explain how the extracted Stochastic RSI readings and their relationship either support or oppose the prevailing market momentum.\n\n\nDeliver your analysis with clarity, precision, and an emphasis on data. Your objective is to furnish traders and investors with actionable information that facilitates well-informed decision-making. Always justify your conclusions with clear reasoning derived from the chart.","inputType":"base64","simplify":false,"options":{"detail":"auto"}},"id":"534cad9e-b3b8-4435-9db4-d7d22adfa305","name":"Technical Analysis","type":"@n8n/n8n-nodes-langchain.openAi","position":[2060,1180],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"7kVCDznRQh7m0DDI","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"12a80fbc-ac59-48f3-b6fd-683d7c420995","responseMode":"lastNode","options":{}},"id":"92b4c7c2-8f0e-48a1-8ecf-01f74e612657","name":"Webhook","type":"n8n-nodes-base.webhook","position":[1720,280],"webhookId":"12a80fbc-ac59-48f3-b6fd-683d7c420995","typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","type":"string","value":"={{ $json.body.text }}"}]},"options":{}},"id":"e1d42095-3bcf-4841-b18c-6f8165576bc7","name":"Set Text1","type":"n8n-nodes-base.set","position":[1880,280],"typeVersion":3.4},{"parameters":{"descriptionType":"manual","toolDescription":"Use the tool when user asks to save ticker for future reports","operation":"create","base":{"__rl":true,"value":"appdctiTTeWBvL6bv","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv"},"table":{"__rl":true,"value":"tbliNnfJJZq9qCUPE","mode":"list","cachedResultName":"Tickers","cachedResultUrl":"https://airtable.com/appdctiTTeWBvL6bv/tbliNnfJJZq9qCUPE"},"columns":{"value":{"Name":"={{ $fromAI(\"ticker\") }}"},"schema":[{"id":"Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Name"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5f0649d2-3f7d-42b8-a630-5dfb03035052","name":"Save Ticker","type":"n8n-nodes-base.airtableTool","position":[2440,760],"typeVersion":2.1,"credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"options":{}},"id":"b4bf95da-8be0-447c-9b83-b1a60ab95d41","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1620,1560],"typeVersion":3},{"parameters":{"rule":{"interval":[{}]}},"id":"e7061b7f-8058-430d-bc3c-92efdfa84131","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1220,1560],"typeVersion":1.2},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/12a80fbc-ac59-48f3-b6fd-683d7c420995","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"=text","value":"=Please analyze {{ $json.Name }} stocks"}]},"options":{}},"id":"4adbd0b3-8246-43a2-b1fb-114add46f35d","name":"Run Agent","type":"n8n-nodes-base.httpRequest","position":[1800,1640],"typeVersion":4.2},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"list","value":"appXcdIeEEGCEUIti","cachedResultUrl":"https://airtable.com/appXcdIeEEGCEUIti","cachedResultName":"Trading"},"table":{"__rl":true,"mode":"list","value":"tblD0HsMed7uPgPsZ","cachedResultUrl":"https://airtable.com/appXcdIeEEGCEUIti/tblD0HsMed7uPgPsZ","cachedResultName":"Tickers"},"options":{}},"id":"59c87621-13bb-46fe-94ab-c631654ba0e0","name":"Get tokens","type":"n8n-nodes-base.airtable","position":[1420,1560],"typeVersion":2.1,"credentials":{"airtableTokenApi":{"id":"mWJaciC4G76McSYX","name":"Airtable Personal Access Token account"}}},{"parameters":{"content":"## Scenario 1 - AI Agent","height":780,"width":1540,"color":4},"id":"4d44a382-8dd6-4a83-8a02-6e060feb24a8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1140,240],"typeVersion":1},{"parameters":{"content":"## Scenario 2 - Scheduled analyses","height":420,"width":1540},"id":"60e58a9c-07d1-497a-b65b-8346e7d3f0ca","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1140,1440],"typeVersion":1},{"parameters":{"content":"## Scenario 1 - Get Chart ","height":320,"width":1540},"id":"330b32f3-a965-497d-ac1f-807416cfb297","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1140,1060],"typeVersion":1},{"parameters":{"content":"### Replace Telegram connection","height":80},"id":"91e34e31-7a13-43b5-934d-af714b238ac7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1180,720],"typeVersion":1},{"parameters":{"content":"### Replace Chat ID","height":80},"id":"fdca89e7-3e31-49f2-b0ed-d703fed3803e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2120,920],"typeVersion":1},{"parameters":{"content":"### Replace API key (header = x-api-key) and  chart settings","height":80,"width":220,"color":3},"id":"01c9ecc5-6326-45b9-9f2a-863e4518893f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1580,1080],"typeVersion":1},{"parameters":{"content":"### Replace Chat ID","height":80,"width":220,"color":3},"id":"322d6cc7-4793-455f-a112-e5e0f1df21d5","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2200,1080],"typeVersion":1},{"parameters":{"content":"### Replace Chat ID","height":80,"width":220,"color":3},"id":"b33faeeb-d109-4984-927c-fa32878a6384","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[2400,440],"typeVersion":1},{"parameters":{"content":"### ... or watch set up video [11 min]\n[![Youtube Thumbnail](https://res.cloudinary.com/de9jgixzm/image/upload/v1740845597/Youtube%20Thumbs/Video%2022%20-%20Philipp%20Trading%20Blur.png)](https://youtu.be/94vh6hSiP9s)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"6c11f9e9-f83e-42d3-9c31-3d9c4007b23a","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[680,840],"typeVersion":1},{"parameters":{"content":"### Setup\n\n1. **Prepare Airtable**:\n    - Create simple table to store tickers.\n\n2. **Prepare Telegram Bot**:\n    - Ensure your Telegram bot is set up correctly and listening for new messages.\n\n3. **Replace Credentials**:\n    - Update all nodes with the correct credentials and API keys for services involved.\n\n4. **Configure API Endpoints**:\n    - Ensure chart service URLs are correctly set to interact with the corresponding APIs properly.\n\n5. **Start Interaction**:\n    - Message your bot to initiate analysis; specify ticker symbols and desired chart styles as required.","height":586,"width":280,"color":7},"id":"09704bed-c71b-4dd1-a843-eb5c2fdb568d","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[380,840],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773200/Skool%20Assets/ejm3hqnvhgwpnu2fv92s.png)\n## How to build AI Agent for Technical Analysis with N8N\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nMany traders desire real-time analysis of stock data but lack the technical expertise or tools to perform in-depth analysis. This workflow allows users to easily interact with an AI trading agent through Telegram for seamless stock analysis, chart generation, and technical evaluation, all while eliminating the need for manual interventions.\n\nThis workflow utilizes n8n to construct an end-to-end automation process for stock analysis through Telegram communication. The setup involves:\n- Receiving messages via a Telegram bot.\n- Processing audio or text messages for trading queries.\n- Transcribing audio using OpenAI API for interpretation.\n- Gathering and displaying charts based on user-specified parameters.\n- Performing technical analysis on generated charts.\n- Sending back the analyzed results through Telegram.\n\n","height":577,"width":636,"color":7},"id":"85425ad0-4def-42bb-93e6-107102b86de6","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2620,760],"id":"abb0530d-542e-433f-85b2-91834c8ffd59","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set Text","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set Text1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Analysis","type":"main","index":0}]]},"Set Text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Chart":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Run Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set Text1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get tokens":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send Chart":{"main":[[{"node":"response","type":"main","index":0}]]},"Set Values":{"main":[[{"node":"Get Chart URL","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Save Ticker":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Get Chart URL":{"main":[[{"node":"Download Chart","type":"main","index":0}]]},"Download Chart":{"main":[[{"node":"Technical Analysis","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Run Agent","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get tokens","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Technical Analysis":{"main":[[{"node":"Send Chart","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Workflow Input Trigger":{"main":[[{"node":"Set Values","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateId":"3053","templateCredsSetupCompleted":true},"pinData":{},"versionId":"81887006-ff5a-4e9c-ab8c-b2664906787e","triggerCount":3,"tags":[]}