workflows/Telegram Payment System.json
{"createdAt":"2025-02-23T07:38:52.020Z","updatedAt":"2025-02-23T15:30:17.865Z","id":"RP6zgZNmPsETISFg","name":"Telegram Payment System","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-400,260],"id":"481c8751-3335-427f-aec3-06a203ce60c0","name":"Telegram Trigger","webhookId":"3d5097f3-df26-4cf2-8988-ac831019a657","credentials":{"telegramApi":{"id":"juybEQLvR6ziXOio","name":"Talk Business Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d205f536-1568-4bd0-b2d5-daaa3f27d5bb","leftValue":"={{ $json.message.entities[0].type }}","rightValue":"bot_command","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"92e7bec7-8e84-4711-9d94-c232d949dbde","leftValue":"={{ $json.message.text }}","rightValue":"/reddit","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-300],"id":"376688e3-74d3-48cd-af25-60701cb99e43","name":"Get reddit messages only"},{"parameters":{"operation":"executeQuery","query":"SHOW TABLES;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1220,80],"id":"11c5c196-1f66-49c3-9a78-9a8d11355433","name":"MySQL","credentials":{"mySql":{"id":"ozOLwtFCMOAIjXXy","name":"Telegram Table Aiven"}}},{"parameters":{"content":"To set up your MySQL database on Aiven with the necessary tables for tracking users, payments, and credits, follow these steps:\n\n**1. Connect to Your Aiven MySQL Database:**\n\n- **Using the Aiven Console:**\n  - Log in to the [Aiven Console](https://console.aiven.io/).\n  - Navigate to your MySQL service.\n  - Click on the \"Overview\" page to find connection details.\n\n- **Using the MySQL Client:**\n  - Install the MySQL client if you haven't already.\n  - Connect to your database using the provided credentials:\n    ```bash\n    mysql -h <hostname> -u <username> -p -P <port> -D <database>\n    ```\n    Replace `<hostname>`, `<username>`, `<port>`, and `<database>` with your specific details from the Aiven Console.\n\n**2. Create the Database (If Not Already Created):**\n\n```sql\nCREATE DATABASE reddit_scraper;\nUSE reddit_scraper;\n```\n\n**3. Create the Necessary Tables:**\n\nEnsure each table has a primary key, as Aiven for MySQL requires tables to have primary keys by default. If you need to create tables without primary keys, refer to [Aiven's documentation](https://aiven.io/docs/products/mysql/howto/create-tables-without-primary-keys).\n\n- **`users` Table:**\n  ```sql\n  CREATE TABLE users (\n      id INT AUTO_INCREMENT PRIMARY KEY,\n      telegram_id BIGINT UNIQUE NOT NULL,\n      username VARCHAR(255),\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n  );\n  ```\n\n- **`credits` Table:**\n  ```sql\n  CREATE TABLE credits (\n      id INT AUTO_INCREMENT PRIMARY KEY,\n      user_id INT NOT NULL,\n      total_credits INT DEFAULT 0,\n      remaining_credits INT DEFAULT 0,\n      total_spent INT DEFAULT 0,\n      last_updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n      FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE\n  );\n  ```\n\n- **`transactions` Table:**\n  ```sql\n  CREATE TABLE transactions (\n      id INT AUTO_INCREMENT PRIMARY KEY,\n      user_id INT NOT NULL,\n      amount INT NOT NULL,\n      transaction_type ENUM('free', 'topup') NOT NULL,\n      payment_method VARCHAR(100),\n      transaction_id VARCHAR(255) UNIQUE,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE\n  );\n  ```\n\n- **`credit_usage` Table:**\n  ```sql\n  CREATE TABLE credit_usage (\n      id INT AUTO_INCREMENT PRIMARY KEY,\n      user_id INT NOT NULL,\n      topic VARCHAR(255) NOT NULL,\n      credits_spent INT NOT NULL,\n      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n      FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE\n  );\n  ```\n\n**4. Verify Table Creation:**\n\nAfter executing the CREATE TABLE statements, verify that the tables have been created successfully:\n\n```sql\nSHOW TABLES;\n```\n\nYou should see a list of the tables: `users`, `credits`, `transactions`, `credit_usage`.\n\n**5. Populate Tables with Initial Data (Optional):**\n\nIf you wish to add initial data for testing:\n\n- **Insert Users:**\n  ```sql\n  INSERT INTO users (telegram_id, username) VALUES\n  (123456789, 'user1'),\n  (987654321, 'user2'),\n  (555666777, 'user3');\n  ```\n\n- **Assign Free Credits:**\n  ```sql\n  INSERT INTO credits (user_id, total_credits, remaining_credits) VALUES\n  (1, 100, 100),\n  (2, 100, 100),\n  (3, 100, 100);\n  ```\n\n**6. Manage Primary Key Constraints (If Needed):**\n\nBy default, Aiven for MySQL enforces the presence of primary keys. If you need to create tables without primary keys, you can adjust the `sql_require_primary_key` setting. However, it's recommended to keep primary keys for data integrity and performance. For more details, refer to [Aiven's guide on creating tables without primary keys](https://aiven.io/docs/products/mysql/howto/create-tables-without-primary-keys).\n\nBy following these steps, you'll have your Aiven-hosted MySQL database set up with the necessary tables to track users, payments, and credits for your Reddit scraper bot. If you encounter any issues or need further assistance, feel free to ask! ","height":620,"width":480},"type":"n8n-nodes-base.stickyNote","position":[-1000,-80],"typeVersion":1,"id":"98e0671f-82d7-48d7-b4f5-e9a4a964e42a","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,80],"id":"4cfb61f4-f449-4822-893e-a9a690ab6288","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"# SQL Query Executer","height":620,"width":420,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1420,-80],"id":"4d1d32bf-58e7-4495-9ccd-a9ee9c8a8d9a","name":"Sticky Note1"},{"parameters":{"jsCode":"function cleanInput(input) {\n    return input.startsWith(\"/reddit \") ? input.slice(8) : input;\n}\n\n// Initialize output array\nconst output = [];\n\nfor (const item of $input.all()) {\n    const messageText = item.json.message.text; // Extract text from Telegram message\n    output.push({\n        json: {\n            cleanedMessage: cleanInput(messageText) // Process command\n        }\n    });\n}\n\n// Return processed messages in n8n format\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-460],"id":"4396ea9f-15e9-4608-afe1-40e0460d71e9","name":"Get user query"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[480,-320],"id":"5bc94b29-8729-4bfd-aad7-07816c379e99","name":"Combine details"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"dataMode":"defineBelow","columnToMatchOn":"telegram_id","valueToMatchOn":"={{ $json.message.from.id }}","valuesToSend":{"values":[{"column":"username","value":"={{ $json.message.from.username }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[660,-320],"id":"7c0e25b7-f5d3-4e94-a7d9-a351b39c2d3c","name":"Add or update user","credentials":{"mySql":{"id":"ozOLwtFCMOAIjXXy","name":"Telegram Table Aiven"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e172c939-2152-42df-a4ba-178d395b5996","leftValue":"={{ $json.message.text }}","rightValue":"/reddit","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-180,260],"id":"31d862ef-fe18-4b71-bb16-c49a8d04f222","name":"Switch"},{"parameters":{"replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,40],"id":"09049969-9dd1-46d3-a267-f90c6f211c48","name":"Telegram","webhookId":"ce0a3b83-180e-427d-a388-c50a844c88e4","credentials":{"telegramApi":{"id":"biiKIRaTqa5OFZpd","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get reddit messages only":{"main":[[{"node":"Get user query","type":"main","index":0},{"node":"Combine details","type":"main","index":1}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Get user query":{"main":[[{"node":"Combine details","type":"main","index":0}]]},"Combine details":{"main":[[{"node":"Add or update user","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Get reddit messages only","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":580754023,"message":{"message_id":162,"from":{"id":5090878071,"is_bot":false,"first_name":"大癮君子","username":"Da_yin_junzi","language_code":"en"},"chat":{"id":5090878071,"first_name":"大癮君子","username":"Da_yin_junzi","type":"private"},"date":1740264151,"text":"/reddit looking for a service","entities":[{"offset":0,"length":7,"type":"bot_command"}]}}}]},"versionId":"eb97daf5-3b8f-447d-9aa2-aa4f4dcdb3d8","triggerCount":0,"tags":[]}