workflows/TqCz881LFTwDtDDW.json
{
  "active": false,
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Read Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Chat' button below": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Read Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "After wrong url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After wrong url": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-23T17:37:32.021Z",
  "id": "TqCz881LFTwDtDDW",
  "meta": {
    "templateId": "1960",
    "templateCredsSetupCompleted": true
  },
  "name": "Ask questions about a PDF using AI",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Which document do you want to add?'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "40bb5497-d1d2-4eb7-b683-78b88c8d9230",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        680,
        340
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VA0okGM8iUItJFka",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "1323d520-1528-4a5a-9806-8f4f45306098",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1000,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 807,
        "width": 1018,
        "color": 7
      },
      "id": "dbe42c28-6f0b-4999-8372-0b42f6fb5916",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ",
        "height": 806.8716167324012,
        "width": 654.1028019808174,
        "color": 7
      },
      "id": "43dc3736-834d-4322-8fd2-7826b0208c4b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "53b18460-8ad6-425a-a01f-c2295cfddde8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        920,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Try me out\n1. In Pinecone, create an index with 1536 dimensions and select it in *both* Pinecone nodes\n2. Click 'test workflow' at the bottom of the canvas to load data into the vector store\n3. Click 'chat' at the bottom of the canvas to ask questions about the data",
        "height": 264.61498034081166
      },
      "id": "e729a021-eab3-48fa-a818-457efcaeebb2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e17c89c-620d-4892-b944-d792e48e3772",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1680,
        360
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "07f61d20-cf50-48e8-9d34-92244af436cb",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        1880,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "bigaddictshop",
          "mode": "list",
          "cachedResultName": "bigaddictshop"
        },
        "options": {}
      },
      "id": "0777de17-99a0-499a-b71f-245d5f76642e",
      "name": "Read Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1820,
        760
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "vInqyUyAMOXxj4ke",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "bigaddictshop",
          "mode": "list",
          "cachedResultName": "bigaddictshop"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "cc5e6897-9d0b-4352-a882-5dc23104bf97",
      "name": "Insert into Pinecone vector store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        880,
        340
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "vInqyUyAMOXxj4ke",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Hi there! 👋\nAm your ultimate blogging assistant for bigaddict.shop",
        "options": {}
      },
      "id": "c358aa73-b60f-453f-a3ef-539faa98c9b5",
      "name": "When clicking 'Chat' button below",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1480,
        360
      ],
      "webhookId": "e259b6fe-b2a9-4dbc-98a4-9a160e7ac10c",
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        540
      ],
      "id": "55c2b514-d0e2-4e60-b48c-1a21f9598e37",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Et4q5oYJBE7kF0BW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1740,
        580
      ],
      "id": "e430e29d-b64f-4e06-8cb6-9cfe4c760f24",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Et4q5oYJBE7kF0BW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1840,
        920
      ],
      "id": "c78a1db7-9435-4287-9e91-0ef04b8090c3",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Et4q5oYJBE7kF0BW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "bigaddict.shop AI blogger Trainer",
        "formDescription": "Use this form to send documents to bigaddict.shop AI memory",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Which document do you want to add?",
              "placeholder": "Google drive url",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        260,
        360
      ],
      "id": "db648129-e392-4213-bcf2-ae44a3b2d5f1",
      "name": "On form submission",
      "webhookId": "46c52ebe-1818-44c6-8eb4-43a504bce4b3",
      "credentials": {
        "httpBasicAuth": {
          "id": "RsuPAnyy8brkp1Pf",
          "name": "BigAddict Shop Blog Trainer Password"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "073108c1-a5e7-4969-be4f-5ce32b592c3b",
              "leftValue": "={{ $json['Which document do you want to add?'] }}",
              "rightValue": "^https:\\/\\/drive\\.google\\.com\\/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        360
      ],
      "id": "c2f7ed80-9374-43b9-90cb-15a0da5ffe2f",
      "name": "If"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Which document do you want to add?",
              "placeholder": "Google drive url",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "You entered a wrong url",
          "buttonLabel": "Train"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        540,
        620
      ],
      "id": "9b5b419a-78a7-4f9f-9e24-5900e18b4e51",
      "name": "After wrong url",
      "webhookId": "9fb5189f-248a-49cd-b87c-0285a7c1d470"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-02-28T09:20:53.756Z",
  "versionId": "cafbc564-e4a5-4160-a975-637f2673673e"
}