workflows/UB2Ccj6X03Zjzlh5.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-19T20:08:06.621Z",
  "id": "UB2Ccj6X03Zjzlh5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Evolution API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f5cdd9c2-79f4-414a-970f-e802a73607f6",
      "name": "Webhook",
      "webhookId": "d841108a-0b28-41d4-b07c-2ec845d5c3c2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c735c214-6b57-48e4-a00c-a9b084e5b2cb",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "f2b46972-9c8f-496b-96cb-0639e427bae1",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "cd7958c2-6cdf-4d27-9bc0-00b17bfc50dd",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "0db01fcf-026a-494c-b1f2-d319a7aa8455",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "61265ac3-c8af-45ef-9f58-2686d4a4107f",
              "name": "timestamp",
              "value": "={{ $json.body.data.message.messageContextInfo.deviceListMetadata.recipientTimestamp }}",
              "type": "number"
            },
            {
              "id": "d5bcefcd-ae2d-4713-8c69-4e43b9f40be5",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "a5eeb838-8202-4627-be61-8bae85cffd8f",
              "name": "sender",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "061f543d-2686-4aaa-91c1-de415ed0f500",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "d9a3940c-fa52-4e7a-97c3-b79066e86ea9",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "c9a4e908-dd63-40de-8b96-779b8d9c4d5b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6a56be88-38e5-4b3f-b108-4c7660373f68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "6f2f24b5-857c-404d-ad5b-b0f0c45ada41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZBtkKEVmgRcWvWO5",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sender }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "40323ddb-43e8-4d4e-8c55-ac0a355cf5b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.response }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-en.evolutionApi",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "c3a578c1-8175-4e13-aee2-b2e2192b08eb",
      "name": "Send text",
      "credentials": {
        "evolutionApi": {
          "id": "u4tiYQyo3g8JFP50",
          "name": "EarlyKey"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb77df8-95d5-4c80-a343-4f36a4917ea1",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "5fcc8b06-058e-4bdb-9d9f-569bb934f5db",
              "name": "instance",
              "value": "={{ $('Edit Fields').item.json.instance }}",
              "type": "string"
            },
            {
              "id": "50701965-bdf0-435d-ad55-b261bdc80d6e",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "17e59a1f-a269-446f-8b83-d665ccb22ef6",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-19T20:08:06.631Z",
      "updatedAt": "2025-09-19T20:08:06.631Z",
      "role": "workflow:owner",
      "workflowId": "UB2Ccj6X03Zjzlh5",
      "projectId": "jpKau5BZEX0mhCP5"
    }
  ],
  "staticData": {
    "node:RSS Feed Trigger": {
      "lastItemDate": "2025-09-19T15:02:52.000Z"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-20T06:19:32.000Z",
  "versionId": "faad8553-dba2-4c3a-a137-46698269b142"
}