workflows/wZbuTWwWgzjgaixj.json
{
  "active": false,
  "connections": {
    "Get Posts": {
      "main": [
        [
          {
            "node": "Fetch only required fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Content  By AI": {
      "main": [
        [
          {
            "node": "Merge post with AI analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Features": {
      "main": [
        [
          {
            "node": "Analysis Content  By AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge post with AI analytics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Proper Solutions": {
      "main": [
        [
          {
            "node": "Combine Sumary, solution and posts.",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch only required fields": {
      "main": [
        [
          {
            "node": "Filter Posts By Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set subreddit database id": {
      "main": [
        [
          {
            "node": "Merge subreddit DB ID with reddit post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis Content  By AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find Proper Solutions",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Find the Real Problem and It's cause",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Find the Real Problem and It's cause",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge post with AI analytics": {
      "main": [
        [
          {
            "node": "Filter business related posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter business related posts": {
      "main": [
        [
          {
            "node": "Insert or update Subreddits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge subreddit DB ID with reddit post",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert or update Subreddits": {
      "main": [
        [
          {
            "node": "Set subreddit database id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge subreddit DB ID with reddit post": {
      "main": [
        [
          {
            "node": "Insert Posts to Database.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Posts to Database.": {
      "main": [
        [
          {
            "node": "Find Proper Solutions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find the Real Problem and It's cause",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Sumary, solution and posts.",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Find the Real Problem and It's cause": {
      "main": [
        [
          {
            "node": "Combine Sumary, solution and posts.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Sumary, solution and posts.": {
      "main": [
        [
          {
            "node": "Add or update post summaries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add or update solutions to posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-14T08:22:55.050Z",
  "id": "wZbuTWwWgzjgaixj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Business Finder Reddit",
  "nodes": [
    {
      "parameters": {},
      "id": "f518ab76-0704-487e-b852-af8f7baf0740",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2620,
        430
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0823d10a-ad54-4d82-bcea-9dd236e97857",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 2
            },
            {
              "id": "bb8187aa-f0f1-4999-8d4b-bdc9abba0618",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            },
            {
              "id": "539f0f5c-025a-4f82-9b3a-2ef1ad3a2d96",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ $today.minus(180,'days').toISO() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ffca246-5a69-41d0-bc58-fe644194054a",
      "name": "Filter Posts By Features",
      "type": "n8n-nodes-base.if",
      "position": [
        -1960,
        430
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Decide whether this reddit post is describing a business-related problem or a need for a solution. The post should mention a specific challenge \n or requirement that a business is trying to address.\nReddit post:  {{ $json.selftext }}\nIs this post about a business problem or need for a solution ? Output only yes or no",
        "options": {}
      },
      "id": "d291e29b-0530-4f28-b049-5a1e4670e268",
      "name": "Analysis Content  By AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1740,
        255
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "Entrepreneur",
        "keyword": "looking for a solution",
        "limit": 20,
        "additionalFields": {
          "sort": "hot"
        }
      },
      "id": "1179ff74-d2c1-4954-a9c9-23ea8ec9921f",
      "name": "Get Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -2400,
        430
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "6fhhT8MLnJpBPbPW",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Reddit post>\n{{ $json.content }}\n</Reddit post>",
        "messages": {
          "messageValues": [
            {
              "message": "Based on the following Reddit post, suggest a business idea or service that I could create to help this problem for this business and other with similar needs.\n\nProvide a concise description of a business idea or service that would adress this issue effectively for mutiple businesses facing similar challenges."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -44,
        580
      ],
      "id": "f9875ad0-6911-447b-8721-792a9180a724",
      "name": "Find Proper Solutions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "329717f1-6293-4fd2-93f0-51dce182c2dc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "70c20334-16f2-4dab-8da8-b8a6539191ba",
              "name": "subreddit",
              "value": "={{ $json.subreddit }}",
              "type": "string"
            },
            {
              "id": "b558fb2f-7341-4086-8280-ccd3aa3ff201",
              "name": "subreddit_subscribers",
              "value": "={{ $json.subreddit_subscribers.toString() }}",
              "type": "string"
            },
            {
              "id": "131800e4-36e7-4bcb-96dd-05380deb0e9b",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f5a47e4a-6f1f-4fcf-95b4-b07e76c4e282",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "422c0ebd-e08c-4e4b-b97a-9fe3e76df56f",
              "name": "ups",
              "value": "={{ $json.ups }}",
              "type": "number"
            },
            {
              "id": "3219b1b0-ce80-4532-b443-0a4962a62d36",
              "name": "selftext",
              "value": "={{ $json.selftext }}",
              "type": "string"
            },
            {
              "id": "bb25ff8c-d3e2-41f1-b7b3-75168fac1e4f",
              "name": "created",
              "value": "={{ DateTime.fromSeconds($json.created).toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2180,
        430
      ],
      "id": "11b69e58-ccff-47af-9c41-6793706f04d9",
      "name": "Fetch only required fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66e39734-c569-4061-b22a-6fd70a8faff6",
              "name": "subreddit_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        505
      ],
      "id": "1ccdf18a-40eb-4799-9059-d31db811af37",
      "name": "Set subreddit database id"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1652,
        475
      ],
      "id": "120edab8-7ebc-4db6-9958-bf8d6604a151",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ezQM9X7CutaxDzrH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        300
      ],
      "id": "00c0edae-9ca4-4079-8b5e-f923812a986a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Lv8LqTGpfGzDWuiH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"problem\": \"The business owner experienced a major decline in client workload and revenue compared to previous successful years.\",\n    \"cause\": \"Instead of focusing on client outreach and direct sales, the owner diverted time and resources into acquiring new certifications and revamping the business model, assuming a complex solution was needed. Additionally, they had a reluctance toward direct sales activities.\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        104,
        300
      ],
      "id": "b85bbc16-1a30-4a3f-9825-0fbc6f16649f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1364,
        430
      ],
      "id": "df15698e-980a-4bf8-bb85-e5d4355e7a30",
      "name": "Merge post with AI analytics"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "490c5138-c488-498f-9ba2-e9ac70f76c31",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1144,
        430
      ],
      "id": "824fc1b9-1ed9-400f-8b2b-906e9b747dfc",
      "name": "Filter business related posts"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "posts_subreddit",
          "mode": "list",
          "cachedResultName": "posts_subreddit"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.subreddit }}",
            "subscriber_count": "={{ $json.subreddit_subscribers }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subscriber_count",
              "displayName": "subscriber_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -924,
        505
      ],
      "id": "7865a5bc-fae1-4f7b-9bdf-975917ebeebb",
      "name": "Insert or update Subreddits",
      "credentials": {
        "postgres": {
          "id": "STEiiGYKeUTcdagW",
          "name": "AIVEN pain2profit"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -484,
        430
      ],
      "id": "ca36a940-4dad-4bc4-9372-1ecbd85f6285",
      "name": "Merge subreddit DB ID with reddit post"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "posts_redditpost",
          "mode": "list",
          "cachedResultName": "posts_redditpost"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_processed": false,
            "upvotes": "={{ $json.ups }}",
            "subreddit_id": "={{ $json.subreddit_id }}",
            "title": "={{ $json.title }}",
            "post_url": "={{ $json.url }}",
            "content": "={{ $json.selftext }}",
            "posted_at": "={{ $json.created }}",
            "post_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_url",
              "displayName": "post_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "upvotes",
              "displayName": "upvotes",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_processed",
              "displayName": "is_processed",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "subreddit_id",
              "displayName": "subreddit_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -264,
        430
      ],
      "id": "53ec2970-2849-4717-a0a3-484f17604bd8",
      "name": "Insert Posts to Database.",
      "credentials": {
        "postgres": {
          "id": "STEiiGYKeUTcdagW",
          "name": "AIVEN pain2profit"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Reddit Post Title>\n{{ $json.title }}\n</Reddit Post Title>\n\n<Reddit post>\n{{ $json.content }}\n</Reddit post>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "<task>\nYou are tasked with analyzing a Reddit post containing a business or personal problem.\n\nIdentify and extract two key pieces of information:\n1. The **core problem** the poster is experiencing. (Clearly and briefly stated)\n2. The **main cause(s)** that led to this problem. (Provide logical or stated reasons based on the post)\n\nWrite in a professional yet accessible tone. Do not invent information that is not mentioned or logically implied by the original post.\n\nYour response must ONLY output a JSON array containing one or more objects. Each object should have exactly two fields: \"problem\" and \"cause\".\n\nDo not include any additional commentary, greetings, or explanations outside the JSON output.\n\nKeep each field concise but informative (2-5 sentences each).\n</task>\n\n<Example Output>\n{\n    \"problem\": \"The business owner experienced a major decline in client workload and revenue compared to previous successful years.\",\n    \"cause\": \"Instead of focusing on client outreach and direct sales, the owner diverted time and resources into acquiring new certifications and revamping the business model, assuming a complex solution was needed. Additionally, they had a reluctance toward direct sales activities.\"\n  }\n</Example Output>"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -44,
        80
      ],
      "id": "2cbb0a1d-373a-47a0-b8c7-63c8bbb574a8",
      "name": "Find the Real Problem and It's cause"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "92706470-3bc7-47d8-99a6-3b9f4b0b5a15",
      "name": "Combine Sumary, solution and posts.",
      "type": "n8n-nodes-base.merge",
      "position": [
        332,
        430
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "solutions_postsummary",
          "mode": "list",
          "cachedResultName": "solutions_postsummary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_id": "={{ $json.id }}",
            "cause": "={{ $json.output.cause }}",
            "problem": "={{ $json.output.problem }}"
          },
          "matchingColumns": [
            "post_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cause",
              "displayName": "cause",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problem",
              "displayName": "problem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        552,
        305
      ],
      "id": "19c0d95b-2426-4c1a-9a62-3c4df44e734d",
      "name": "Add or update post summaries",
      "credentials": {
        "postgres": {
          "id": "STEiiGYKeUTcdagW",
          "name": "AIVEN pain2profit"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "solutions_postsolution",
          "mode": "list",
          "cachedResultName": "solutions_postsolution"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_premium": true,
            "post_id": "={{ $json.id }}",
            "solution": "={{ $json.text }}"
          },
          "matchingColumns": [
            "post_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "solution",
              "displayName": "solution",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_premium",
              "displayName": "is_premium",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        552,
        505
      ],
      "id": "3304bd51-a0d8-4397-ac64-869251932dc5",
      "name": "Add or update solutions to posts",
      "credentials": {
        "postgres": {
          "id": "STEiiGYKeUTcdagW",
          "name": "AIVEN pain2profit"
        }
      }
    }
  ],
  "pinData": {
    "Find Proper Solutions": [
      {
        "json": {
          "text": "Based on the Reddit post, the core problem is small business owners (often skilled practitioners, not salespeople) overlooking simple, direct outreach to existing networks/clients in favor of overthinking complex marketing strategies when business is slow.\n\nHere is a concise business idea or service addressing this:\n\n**Business Idea: The \"Simple Business Catalyst\" Service**\n\n**Description:** This service helps small businesses and solopreneurs generate immediate work by identifying and implementing the *easiest, most direct* outreach methods, such as systematic re-engagement with past clients, leveraging existing warm contacts for referrals, and crafting simple, non-intimidating communication templates. It provides structure, accountability, and practical tools to turn \"low-hanging fruit\" opportunities into actual revenue without requiring complex marketing overhauls or overcoming deep-seated sales discomfort. It focuses on quickly executing the \"obvious\" steps often overlooked."
        }
      },
      {
        "json": {
          "text": "Okay, based on the Reddit post highlighting the challenge of getting a niche product known and adopted *after* building it, the core problem is bridging the gap between having a good, problem-solving product and effectively marketing/positioning it to the target audience.\n\nHere's a business idea:\n\n**Specialized Product Marketing & Launch Service for Niche Solutions.**\nThis service assists founders and small teams who have built niche products based on solving specific problems but struggle with marketing and getting visibility. It provides tailored strategies for positioning, messaging, identifying the ideal target audience (beyond the founder's initial need), and executing initial launch and marketing efforts to gain traction and bridge the gap between building a good product and achieving market success."
        }
      },
      {
        "json": {
          "text": "Based on the Reddit post, the core problem is finding a *paying* market for software solutions and validating ideas *effectively* without relying solely on cold outreach or hoping for referrals. The user has building skills but struggles with the market/sales side.\n\nHere is a business idea addressing this for multiple businesses:\n\n**Business Idea: Tech Opportunity Scoping & Validation Service**\n\n**Concise Description:**\n\nThis service partners with small to medium-sized businesses (or specific departments within larger ones) who suspect they have operational inefficiencies or data challenges but lack the in-house expertise to define the problem precisely or determine if a software solution is viable and valuable. Instead of building speculative software or relying on the business to articulate a technical need, the service provides a structured process to:\n\n1.  **Deeply understand** the client's current workflows and pain points.\n2.  **Clearly define** the root problem(s) from a business perspective.\n3.  **Research and propose** potential technology-based solutions (could be custom software, automation, data analysis, etc.).\n4.  **Validate** the proposed solution(s) directly with the client's stakeholders or target users through interviews, mockups, or small proof-of-concepts to gauge demand, usability, and willingness-to-pay *before* full development.\n\nThis service delivers to the client not just potential ideas, but a *validated problem definition* and a *scoped opportunity* ready for technical execution, effectively generating qualified, paying leads for custom software development (either by the service provider, if they build, or by external developers/agencies). It bypasses blind outreach by starting with businesses who *know* they have problems but need help defining and validating the tech solution, providing a pipeline of problems *worth solving* for a paying market."
        }
      },
      {
        "json": {
          "text": "Okay, here is a business idea based on the Reddit post:\n\n**Business Idea: The \"Solo Finance Fix & Setup\" Service**\n\n**Description:** Offer a specialized service for solo entrepreneurs and small business owners (like single-member LLCs) who have mixed personal and business finances and lack a clear expense tracking system. This service would involve:\n\n1.  **Retrospective Cleanup:** Analyzing past bank/credit card statements (both personal and business) to identify and categorize business vs. personal expenses for a specific period (e.g., the last 12-18 months), creating a categorized summary.\n2.  **Financial Separation Guidance:** Providing clear, actionable steps and resources to immediately stop mingling funds and establish distinct personal and business financial behaviors (using dedicated accounts, proper owner draws/distributions).\n3.  **Simple System Setup:** Recommending and helping implement an easy-to-use, ongoing expense tracking system tailored for solos (e.g., setting up a free/low-cost bookkeeping software like Wave, or providing a simple, effective spreadsheet template and training).\n4.  **Basic Education:** Offering a quick overview of *why* this separation and tracking is crucial for taxes, profitability, and legal compliance (especially for LLCs), without overwhelming the client with complex accounting jargon.\n\nThis service provides a fixed-scope solution to clean up the past mess, correct the fundamental problem of commingling, and establish simple, sustainable habits for the future, specifically targeting the overwhelmed, non-finance-minded solo operator."
        }
      },
      {
        "json": {
          "text": "Based on the Reddit post, a business idea addressing these challenges could be:\n\n**Managed Global Project Delivery Service**\n\n**Description:** This service acts as an intermediary agency providing end-to-end management for businesses looking to outsource projects globally. Instead of just connecting clients to offshore vendors, the service takes the client's detailed brief (including context and 'why'), selects and vets the *right* global team from their trusted network (ensuring quality over just cheapness), and then provides a dedicated project manager to handle all communication, cultural nuances, scope management, quality control, and timeline adherence with the offshore team on the client's behalf. This allows clients to leverage global talent effectively without becoming de facto project managers, ensuring the work gets done right the first time and truly freeing up their time."
        }
      },
      {
        "json": {
          "text": "Based on the Reddit post, here is a business idea/service:\n\n**Business Idea/Service:** **\"IncomeFlow AI\" (or similar)**\n\n**Concise Description:**\n\nAn AI-driven subscription service providing automated financial intelligence for freelancers, contractors, and small businesses with unpredictable income. It securely connects to bank accounts to automatically track variable earnings, analyze income patterns, predict future cash flow (highlighting potential dips), and generate personalized savings recommendations for taxes, expenses, and slow periods, offering clear financial foresight without manual budgeting."
        }
      }
    ],
    "Find the Real Problem and It's cause": [
      {
        "json": {
          "output": {
            "problem": "The poster's business experienced a significant decline in client workload compared to the previous two years, causing them to question the business's direction.",
            "cause": "Instead of focusing on direct client outreach and sales (which they hadn't needed previously and disliked due to potential rejection), the poster initially assumed a complex solution like further education or a business revamp was necessary, overlooking the simpler approach of directly asking for more work."
          }
        }
      },
      {
        "json": {
          "output": {
            "problem": "The user is addressing the common entrepreneurial challenge of identifying a unique and potentially highly successful ('million dollar') product idea.",
            "cause": "The post suggests this difficulty stems from entrepreneurs looking outward for inspiration (e.g., copying existing products) instead of focusing inward to solve a specific problem they have personally experienced and validated."
          }
        }
      },
      {
        "json": {
          "output": {
            "problem": "The poster is struggling to identify a viable business niche and validate a specific software idea, failing to find a target market that both has a problem worth solving and the financial capacity/willingness to pay for a solution.",
            "cause": "Current efforts focus on outreach to potential customers (mass cold emails, LinkedIn DMs) for idea validation, which have yielded almost no responses, indicating issues with the outreach strategy, targeting, or the perceived value of the proposed solution. Furthermore, the poster observes problems among people who lack the budget for solutions and expresses apprehension about the consistent outreach needed for client acquisition."
          }
        }
      },
      {
        "json": {
          "output": {
            "problem": "The business owner has failed to track any business expenses over the past year and has mixed personal and business finances across separate bank accounts.",
            "cause": "The owner admittedly did not perform any bookkeeping or expense tracking since starting the business. Furthermore, they commingled funds by paying for personal items from the business account and business items from the personal account, neglecting basic financial separation."
          }
        }
      },
      {
        "json": {
          "output": {
            "problem": "The poster's initial attempt at outsourcing a project resulted in significant difficulties, poor quality deliverables, and unexpected project management workload, contrary to their expectation of a simple and cost-saving process.",
            "cause": "The problems stemmed from the poster's naive assumptions: underestimating the crucial role of explicit communication (beyond written briefs), failing to anticipate the need for active project management despite outsourcing, and initially selecting the cheapest vendor which led to subpar work requiring costly rework."
          }
        }
      },
      {
        "json": {
          "output": {
            "problem": "Freelancers struggle with managing finances, predicting cash flow, and saving appropriately for taxes and slow periods due to income instability.",
            "cause": "The primary cause is the inherent unpredictability of freelance income. Additionally, existing generic financial apps are perceived as inadequate for freelance needs, and manual budgeting methods are considered a hassle."
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-26T10:59:15.000Z",
  "versionId": "59140494-a20c-4f52-aa01-15158042dd58"
}