workflows/Ywnhqy4sfomqfEcb.json
{
  "active": false,
  "connections": {
    "Fetch uploaded file details": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Fetch uploaded file details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch uploaded file details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload posts": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch uploaded file details1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T11:57:15.935Z",
  "id": "Ywnhqy4sfomqfEcb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Post Scheduler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -240
      ],
      "id": "f52467c1-7dd5-4207-a1df-675cb7d3a1cd",
      "name": "WhatsApp Trigger",
      "webhookId": "d5141ddd-38d1-4d69-8937-0dbdc6f298c0",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "uaDeBauS79nEWSIK",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a87e77d-8ab9-4b96-9feb-153f092148ea",
              "name": "caption",
              "value": "={{ $('Upload posts').item.json.body.caption }}",
              "type": "string"
            },
            {
              "id": "d90aa8ac-9ee5-476c-9e91-89346c4803a7",
              "name": "scheduled_on",
              "value": "={{ $('Upload posts').item.json.body.scheduled_on }}",
              "type": "string"
            },
            {
              "id": "a001f848-2c4a-4c0c-8344-da44c06c0133",
              "name": "filename",
              "value": "={{$('Upload posts').item.binary.media.fileName}}",
              "type": "string"
            },
            {
              "id": "e287dcc9-1701-448a-9bcc-408a93a44c70",
              "name": "filetype",
              "value": "={{$('Upload posts').item.binary.media.fileType}}",
              "type": "string"
            },
            {
              "id": "e0ff7cef-29ca-47ec-9295-80389a06aadd",
              "name": "filesize",
              "value": "={{$('Upload posts').item.binary.media.fileSize.split(\" \")[0]}}",
              "type": "number"
            },
            {
              "id": "58cacdc2-742d-4c80-b7c5-7c6dea81c920",
              "name": "mimeTpye",
              "value": "={{ $('Upload posts').item.binary.media.mimeType }}",
              "type": "string"
            },
            {
              "id": "c86ec582-edf0-4a94-a1ec-892d1e39c113",
              "name": "google_drive_status",
              "value": "uploaded",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -16
      ],
      "id": "521312dc-0871-4f3a-a467-f0ef13cfe515",
      "name": "Fetch uploaded file details"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "column": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "column": "filetype",
              "value": "={{ $json.filetype }}"
            },
            {
              "column": "size",
              "value": "={{ $json.filesize }}"
            },
            {
              "column": "scheduled_on",
              "value": "={{ $json.scheduled_on.toDateTime().toLocal() }}"
            },
            {
              "column": "drive_status",
              "value": "={{ $json.google_drive_status.toUpperCase() }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true,
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        512,
        80
      ],
      "id": "e1143795-9cd6-4f8f-be3b-277d04755ec0",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=media",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GrbUBtw7VxAAYYIxj7M8gf6jyQqB5BDw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GrbUBtw7VxAAYYIxj7M8gf6jyQqB5BDw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        80
      ],
      "id": "dd0aa425-4719-412f-b0ad-57a6f87c9f36",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yU7hRpcETF7lMkPI",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-scheduler/upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        80
      ],
      "id": "119407b5-d77b-470a-9098-4c82aa5fd0fb",
      "name": "Upload posts",
      "webhookId": "cec4ffe5-5471-4eb5-bbe3-7c70a2adddd9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/733184296540252/register",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAOMtBepKZCUBPPKveAMIkZCvE0iK9M4hM6DVVe7pmsBapkOQlGd7azHpfhM2gXzlhkywfuLLSR1SwXjRVRLqE5ZBtwr9mRBoK3t3XZA4DHsXLVDvDvYaJ31HTXCgqCxouS8H959na3NMv03B01BqyzZCDBoFuOIZBMZCqvIqw3PUJVLbqNZBQZBhETZAwGzZCjT1KxQMN2ZBi9aTdTPlP4EUSByytZBr0uv9Sa3heASy8ZBJC2R7ZAhEImgUVaBNemLfvW"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "pin",
              "value": "000000"
            },
            {
              "name": "tier",
              "value": "test"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        624
      ],
      "id": "76b1ec53-3803-4593-8720-01e92ab6f1f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "path": "post-scheduler/posts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        400
      ],
      "id": "b77019c8-9e85-4bdb-bd56-0613b9f9ed4a",
      "name": "Get posts",
      "webhookId": "779b80c1-b675-47cf-96bd-5cb515183e19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fc9b7c5-58cb-4cfe-af8a-5e03de94415b",
              "name": "query.limit",
              "value": "={{ $json.query.limit }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        400
      ],
      "id": "68e0875a-a546-4693-bcff-e5d4428b2b2c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "limit": "={{ $json.query.limit.toNumber() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        288,
        400
      ],
      "id": "8c17f8a6-320c-4cea-a29e-05dc05855a9f",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        400
      ],
      "id": "3af3390f-7397-400c-9812-aa8e965ac844",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a87e77d-8ab9-4b96-9feb-153f092148ea",
              "name": "caption",
              "value": "={{ $('Upload posts').item.json.body.caption }}",
              "type": "string"
            },
            {
              "id": "d90aa8ac-9ee5-476c-9e91-89346c4803a7",
              "name": "scheduled_on",
              "value": "={{ $('Upload posts').item.json.body.scheduled_on }}",
              "type": "string"
            },
            {
              "id": "a001f848-2c4a-4c0c-8344-da44c06c0133",
              "name": "filename",
              "value": "={{$('Upload posts').item.binary.media.fileName}}",
              "type": "string"
            },
            {
              "id": "e287dcc9-1701-448a-9bcc-408a93a44c70",
              "name": "filetype",
              "value": "={{$('Upload posts').item.binary.media.fileType}}",
              "type": "string"
            },
            {
              "id": "e0ff7cef-29ca-47ec-9295-80389a06aadd",
              "name": "filesize",
              "value": "={{$('Upload posts').item.binary.media.fileSize.split(\" \")[0]}}",
              "type": "number"
            },
            {
              "id": "58cacdc2-742d-4c80-b7c5-7c6dea81c920",
              "name": "mimeTpye",
              "value": "={{ $('Upload posts').item.binary.media.mimeType }}",
              "type": "string"
            },
            {
              "id": "0ea595f4-e16c-4f0e-b6f3-f62db40209e8",
              "name": "google_drive_status",
              "value": "failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        176
      ],
      "id": "66a96768-810e-465b-9057-12a1ebf0abf6",
      "name": "Fetch uploaded file details1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -160,
        848
      ],
      "id": "0d423f0c-1523-4556-bac1-237b5d79d234",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-02T11:57:21.502Z",
      "updatedAt": "2025-08-02T11:57:21.502Z",
      "id": "JxoGB5XjR2JTaL8s",
      "name": "Mr. Alex"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-06T08:39:13.000Z",
  "versionId": "0ebb0f96-6865-49f9-abac-224336220031"
}