workflows/Ywnhqy4sfomqfEcb.json
{
  "active": false,
  "connections": {
    "Fetch uploaded file details": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update file upload success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update file upload failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload posts": {
      "main": [
        [
          {
            "node": "Fetch uploaded file details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T11:57:15.935Z",
  "id": "Ywnhqy4sfomqfEcb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Post Scheduler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -240
      ],
      "id": "f52467c1-7dd5-4207-a1df-675cb7d3a1cd",
      "name": "WhatsApp Trigger",
      "webhookId": "d5141ddd-38d1-4d69-8937-0dbdc6f298c0",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "uaDeBauS79nEWSIK",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a87e77d-8ab9-4b96-9feb-153f092148ea",
              "name": "caption",
              "value": "={{ $json.body.caption }}",
              "type": "string"
            },
            {
              "id": "d90aa8ac-9ee5-476c-9e91-89346c4803a7",
              "name": "scheduled_on",
              "value": "={{ $json.body.scheduled_on }}",
              "type": "string"
            },
            {
              "id": "a001f848-2c4a-4c0c-8344-da44c06c0133",
              "name": "filename",
              "value": "={{$('Upload posts').item.binary.media.fileName}}",
              "type": "string"
            },
            {
              "id": "e287dcc9-1701-448a-9bcc-408a93a44c70",
              "name": "filetype",
              "value": "={{$('Upload posts').item.binary.media.fileType}}",
              "type": "string"
            },
            {
              "id": "e0ff7cef-29ca-47ec-9295-80389a06aadd",
              "name": "filesize",
              "value": "={{$('Upload posts').item.binary.media.fileSize.split(\" \")[0]}}",
              "type": "number"
            },
            {
              "id": "05fbb9e8-3a24-41c0-8fa4-454cf727245b",
              "name": "data",
              "value": "={{ $('Upload posts').item.binary.media['data']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        80
      ],
      "id": "521312dc-0871-4f3a-a467-f0ef13cfe515",
      "name": "Fetch uploaded file details"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "caption",
              "value": "={{ $json.caption }}"
            },
            {
              "column": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "column": "filetype",
              "value": "={{ $json.filetype }}"
            },
            {
              "column": "size",
              "value": "={{ $json.filesize }}"
            },
            {
              "column": "scheduled_on",
              "value": "={{ $json.scheduled_on.toDateTime().toLocal() }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true,
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        304,
        80
      ],
      "id": "e1143795-9cd6-4f8f-be3b-277d04755ec0",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=media",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GrbUBtw7VxAAYYIxj7M8gf6jyQqB5BDw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GrbUBtw7VxAAYYIxj7M8gf6jyQqB5BDw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        80
      ],
      "id": "dd0aa425-4719-412f-b0ad-57a6f87c9f36",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yU7hRpcETF7lMkPI",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valuesToSend": {
          "values": [
            {
              "column": "drive_status",
              "value": "uploaded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        960,
        -16
      ],
      "id": "f0499ccd-8280-4294-b1aa-8cfe19934e9d",
      "name": "Update file upload success",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valuesToSend": {
          "values": [
            {
              "column": "drive_status",
              "value": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        960,
        176
      ],
      "id": "49168b9f-0008-4c9f-aefa-2a59505c00bc",
      "name": "Update file upload failed",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-scheduler/upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ],
      "id": "119407b5-d77b-470a-9098-4c82aa5fd0fb",
      "name": "Upload posts",
      "webhookId": "cec4ffe5-5471-4eb5-bbe3-7c70a2adddd9"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -144,
        400
      ],
      "id": "0d423f0c-1523-4556-bac1-237b5d79d234",
      "name": "Delete table or rows",
      "credentials": {
        "mySql": {
          "id": "uztzNdOX2CeWA7Z3",
          "name": "Aiven n8n MySql"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "={{ $('Fetch uploaded file details').item.json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        512,
        80
      ],
      "id": "99f52732-099f-4aea-92a2-0150b549c9ba",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-02T11:57:21.502Z",
      "updatedAt": "2025-08-02T11:57:21.502Z",
      "id": "JxoGB5XjR2JTaL8s",
      "name": "Mr. Alex"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-03T20:23:09.000Z",
  "versionId": "f562e2d9-d0c6-40f9-97b8-fd153a2f0fb8"
}