workflows/📈 Receive Daily Market News from FT.com to your Microsoft outlook inbox.json
{"createdAt":"2025-02-12T07:11:45.607Z","updatedAt":"2025-02-12T07:43:22.595Z","id":"xDwl29o6b5F8DnGP","name":"📈 Receive Daily Market News from FT.com to your Microsoft outlook inbox","active":false,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Headline #1","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span4.layout-desktop__grid--column-start-1.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div.story-group-stacked__primary-story > div > div > div > div > div.primary-story__teaser"},{"key":"Headline #2","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span6.layout-desktop__grid--column-start-5.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div > div > div.story-group__article.story-group__article--featured > div > div.featured-story-content > div.headline.js-teaser-headline.headline--scale-5.headline--color-black > a > span"},{"key":"Editor's Picks","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span2.layout-desktop__grid--column-start-11.layout-desktop__grid--row-start-1.layout--default > div"},{"key":"Top Stories","cssSelector":"#site-content > div:nth-child(3) > section > div","skipSelectors":"h2"},{"key":"Spotlight","cssSelector":"#site-content > div:nth-child(6) > section","skipSelectors":"h2"},{"key":"Various News","cssSelector":"#site-content > div:nth-child(8) > section","skipSelectors":"h2"},{"key":"Europe News","cssSelector":"#site-content > div:nth-child(13) > section","skipSelectors":"h2"}]},"options":{"cleanUpText":true}},"id":"d2a24a9b-9cf3-4de0-82e7-5d858658d4b4","name":"Extract specific content","type":"n8n-nodes-base.html","position":[1380,380],"notesInFlow":true,"typeVersion":1.2,"notes":"Extract selected headlines, editor's picks, spotlight etc."},{"parameters":{"url":"https://www.ft.com/","options":{}},"id":"38af5df2-65ce-4f04-aed3-6f71d81a37df","name":"Get financial news online","type":"n8n-nodes-base.httpRequest","position":[1160,380],"notesInFlow":true,"typeVersion":4.2,"notes":"Url : https://www.ft.com/"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"764b2209-bf20-4feb-b000-fa261459a617","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[940,380],"typeVersion":1.2},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"96b337ba-6fe7-47ec-8385-58bfc6c789cb","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1780,560],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"Et4q5oYJBE7kF0BW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5412a5ee-dbbe-4fcc-98a5-6fafc37b94d1","name":"News  together","type":"string","value":"=Financial times news :\n\n{{ $('Extract specific content').item.json['Headline #1'] }};\n\n{{ $('Extract specific content').item.json['Headline #2'] }};\n\n{{ $('Extract specific content').item.json['Editor\\'s Picks'] }};\n\n{{ $('Extract specific content').item.json['Top Stories'] }};\n\n{{ $('Extract specific content').item.json.Spotlight }};\n\n{{ $('Extract specific content').item.json['Various News'] }};\n\n{{ $('Extract specific content').item.json['Europe News'] }};\n\n"}]},"options":{}},"id":"925eabf3-3619-4da2-be2c-bda97c605d4d","name":"Gather the elements","type":"n8n-nodes-base.set","position":[1600,380],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=Here are the news to summarise :\n\n{{ $json['News  together'] }}","options":{"systemMessage":"You role is to summarize the financial news from today. The summary will help an investor to have a clear view of the market, and to make better choice.\nSign emails as bigaddict \n\nYou will write the body of an e-mail using a well structured html format."}},"id":"5445b14f-25e8-4759-82d4-985961ca7fdd","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1780,380],"typeVersion":1.6},{"parameters":{"content":"# Financial News Recap Workflow\n\nThis workflow automates the daily email delivery of curated financial news to a designated recipient at 7:00 AM. It extracts relevant financial news articles, structures the content, and sends it in a concise summary format via Microsoft Outlook.\n\n### Workflow Steps\n1. **Schedule Trigger**  \n   Sets the workflow to activate daily at 7:00 AM.\n2. **Fetch Financial News**  \n   Retrieves financial news content from [ft.com](https://www.ft.com/) using an HTTP Request node.\n3. **Extract News Headlines and Sections**  \n   Using CSS selectors, this node parses specific sections of the HTML page to gather key headlines and sections:\n   - Headline #1, Headline #2\n   - Editor's Picks\n   - etc.\n4. **Aggregate News Content**  \n   Combines all extracted news sections into a single data set, organizing content under relevant categories.\n5. **AI Agent for Summarization**  \n   A Google Gemini Chat Model generates a structured summary in HTML format, optimized to provide investors with a clear market overview.\n6. **Email Dispatch**  \n   Sends the summarized content via Microsoft Outlook with a subject \"Financial news from today,\" formatted in HTML for clarity and readability.\n","height":581.4193548387093,"width":683.6774193548385},"id":"30b76eac-d646-44d8-bc41-46aa2d9fe05f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"fromEmail":"admin@bigaddict.shop","toEmail":"davidnjihia536@gmail.com","subject":"Financial news from today","html":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2160,380],"id":"14851a89-1049-4bd8-89ee-e6df9840d6ea","name":"Send Email","webhookId":"5ecf9116-303e-447e-86d3-fddbeef5b20b","credentials":{"smtp":{"id":"E7g0DmePJI6ktaQp","name":"SMTP account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get financial news online","type":"main","index":0}]]},"Gather the elements":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Extract specific content":{"main":[[{"node":"Gather the elements","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get financial news online":{"main":[[{"node":"Extract specific content","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2516","templateCredsSetupCompleted":true},"pinData":{},"versionId":"c69e313e-f520-4abd-8ee8-7cc25d118321","triggerCount":0,"tags":[]}